<footer class="section-pure-black-bg">





    <section class="footer-widget-area footer-widget-area-bg section-custom-bg"
        data-bg_img="assets/images/home_1_slider_3.png" data-bg_color="#111111" data-bg_opacity="0.80">

        <div class="container">

            <div class="row">


                <div class="col-md-3 col-sm-6 col-xs-12">

                    <div class="footer-widget">

                        <div class="sidebar-widget-wrapper">

                            <div class="textwidget about-footer">

                                <div class="footer-widget-header clearfix">
                                    <h3>About Us </h3>
                                </div> <!--  end .footer-widget-header -->

                                <div class="footer-about-text margin-top-16" style="text-align: justify;">

                                    Adv. K.J. Thomas and Associates, a leading law firm based in Thiruvananthapuram,
                                    Kerala,
                                    specializing in Maritime Law, International Trade, and Customs Laws and Regulations.
                                    Our mission is to offer strategic, results-driven solutions while upholding the
                                    highest standards of integrity and professionalism.

                                </div>


                                <div class="social-icons margin-top-24" style="display: none;">

                                    <a href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>

                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>

                                    <a href="#">
                                        <i class="fa fa-pinterest-p"></i>
                                    </a>

                                    <a href="#">
                                        <i class="fa fa-instagram"></i>
                                    </a>

                                    <a href="#">
                                        <i class="fa fa-linkedin"></i>
                                    </a>

                                </div>

                            </div>

                        </div> <!-- end .footer-widget-wrapper  -->

                    </div> <!--  end .footer-widget  -->

                </div> <!--  end .col-md-4 col-sm-12 -->



                <div class="col-md-3 col-sm-6 col-xs-12">

                    <div class="footer-widget">

                        <div class="sidebar-widget-wrapper">

                            <div class="footer-widget-header clearfix">
                                <h3>Practice Areas</h3>
                            </div> <!--  end .footer-widget-header -->


                            <div class="textwidget">

                                <ul class="footer-useful-links full-width-list clearfix">
                                    <li>
                                        <a href="maritime-and-admiralty-law">
                                            <i class="fa fa-caret-right fa-footer"></i>
                                            Maritime & Admiralty Law
                                        </a>
                                    </li>
                                    <li>
                                        <a href="international-trade-and-customs-law">
                                            <i class="fa fa-caret-right fa-footer"></i>
                                            International Trade & Customs Law
                                        </a>
                                    </li>

                                    <li>
                                        <a href="dispute-resolution">
                                            <i class="fa fa-caret-right fa-footer"></i>
                                            Dispute Resolution

                                        </a>
                                    </li>

                                    <li>
                                        <a href="court-jurisdictions">
                                            <i class="fa fa-caret-right fa-footer"></i>
                                            Court Jurisdictions
                                        </a>
                                    </li>

                                    <!-- <li>
                                        <a href="#">
                                            <i class="fa fa-caret-right fa-footer"></i>
                                            Recruitment and placement (RPSL)
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <i class="fa fa-caret-right fa-footer"></i>
                                            Ship / Crew (crossed out, partly written "Ship arrest / Crew")

                                        </a>
                                    </li> -->

                                </ul>

                            </div>

                        </div> <!-- end .footer-widget-wrapper  -->

                    </div> <!--  end .footer-widget  -->

                </div> <!--  end .col-md-4 col-sm-12 -->

                <div class="col-md-3 col-sm-6 col-xs-12">

                    <div class="footer-widget">

                        <div class="sidebar-widget-wrapper">

                            <div class="footer-widget-header clearfix">
                                <h3> Office Address </h3>
                            </div> <!--  end .footer-widget-header -->


                            <div class="textwidget">

                                <i class="fa fa-envelope-o fa-contact"></i>
                                <p>advocatekjthomas&#64;gmail.com<br />mclat2025&#64;gmail.com</p>

                                <i class="fa fa-location-arrow fa-contact"></i>
                                <p>Adv. K.J. Thomas Kallampally, <br />Court View Inn, <br>Near
                                    Indian Bank, <br> Vanchiyoor Junction,<br>
                                    Thiruvananthapuram-35.</p>

                                <i class="fa fa-phone fa-contact"></i>
                                <p>Cell:&nbsp; +91 944 7117 399
                                  <br />  +91 984 7563 366
                                  <br />  +91 944 6526 505</p>

                            </div>

                        </div> <!-- end .footer-widget-wrapper  -->

                    </div> <!--  end .footer-widget  -->

                </div> <!--  end .col-md-4 col-sm-12 -->

                <div class="col-md-3 col-sm-6 col-xs-12">

                    <div class="footer-widget">

                        <div class="sidebar-widget-wrapper">

                            <div class="footer-widget-header clearfix">
                                <h3>Consultation</h3>
                            </div> <!--  end .footer-widget-header -->

                            <div class="textwidget">
                                <ul class="opening-shedule">
                                    <li class="clearfix">
                                        <span> Every day </span>
                                        <div class="pull-right">09:00 AM to 09:00 PM</div>
                                    </li>
                                    <li>
                                        <span> Sunday </span>
                                        <div class="pull-right"> 03:00 PM to 07:00 PM</div>
                                    </li>
                                    <li>
                                        <span> (except Court timings)</span>

                                    </li>

                                </ul>

                            </div>



                        </div> <!-- end .footer-widget-wrapper  -->

                    </div> <!--  end .footer-widget  -->

                </div>


            </div> <!-- end row  -->

        </div> <!-- end .container  -->

    </section> <!--  end .footer-widget-area  -->

    <!--FOOTER CONTENT  -->

    <section class="footer-contents">

        <div class="container">

            <div class="row clearfix">
                <div class="col-md-12 col-sm-12 text-center clearfix">
                    <p class="copyright-text"> Copyright © 2025. All Right Reserved - <a
                            href="https://www.ipromisesolutions.com/"> Adv. KJ Thomas & Associates </a> </p>
                </div>

            </div>

        </div>

    </section>

</footer>

<a id="backTop">Back To Top</a>