#whatsapp-button[_ngcontent-ng-c3889999988] {
    position: fixed;
    bottom: 20px;
    left: 20px;
    color: #25D366;
    padding: 15px;
    border-radius: 50%;
    font-size: 24px;
    text-align: center;
    z-index: 1000;
    transition: background-color 0.3s;
}