<footer class="section-pure-black-bg">            

    <section class="footer-widget-area footer-widget-area-bg section-custom-bg" data-bg_img="assets/images/home_1_slider_3.png" data-bg_color="#111111" data-bg_opacity="0.80">
  
        <div class="container">                    
  
            <div class="row">
                 
  
                <div class="col-md-3 col-sm-6 col-xs-12">
  
                    <div class="footer-widget">
  
                        <div class="sidebar-widget-wrapper">
  
                            <div class="textwidget about-footer"> 
                                
                                <div class="footer-widget-header clearfix">
                                    <h3>About K.J. Thomas </h3>
                                </div>  <!--  end .footer-widget-header -->   
  
                               <div class="footer-about-text margin-top-16">
                                  He currently serves as the Secretary for the Maritime Customs and Logistic Lawyers Association of Trivandrum (M-CLAT) and acts as an External Faculty member on the subjects of maritime, international trade, and customs law.
                               </div>    
  
  
                                <div class="social-icons margin-top-24">
  
                                    <a href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
  
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
  
                                    <a href="#">
                                        <i class="fa fa-pinterest-p"></i>
                                    </a>
  
                                    <a href="#">
                                        <i class="fa fa-instagram"></i>
                                    </a>
  
                                    <a href="#">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
  
                                </div>
                               
                            </div>
  
                        </div> <!-- end .footer-widget-wrapper  -->
  
                    </div> <!--  end .footer-widget  -->
  
                </div> <!--  end .col-md-4 col-sm-12 -->   
                
                
                
                <div class="col-md-3 col-sm-6 col-xs-12">
  
                    <div class="footer-widget">
  
                        <div class="sidebar-widget-wrapper">
  
                            <div class="footer-widget-header clearfix">
                                <h3>Practice Areas</h3>
                            </div>  <!--  end .footer-widget-header --> 
  
  
                            <div class="textwidget">                                       
  
                                <ul class="footer-useful-links full-width-list clearfix">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-caret-right fa-footer"></i>
                                            Administrative Law
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-caret-right fa-footer"></i>
                                            Civil Litigation
                                        </a>
                                    </li>
                                    
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-caret-right fa-footer"></i>
                                            Business/Corporate
                                        </a>
                                    </li>
                                    
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-caret-right fa-footer"></i>
                                            Construction Liens
                                        </a>
                                    </li>
                                    
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-caret-right fa-footer"></i>
                                           Estate Planning
                                        </a>
                                    </li>
                                    
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-caret-right fa-footer"></i>
                                            Money Laundering
                                        </a>
                                    </li>
                                    
                                </ul>                      
  
                            </div>
  
                        </div> <!-- end .footer-widget-wrapper  -->
  
                    </div> <!--  end .footer-widget  -->
  
                </div> <!--  end .col-md-4 col-sm-12 -->  
                
                <div class="col-md-3 col-sm-6 col-xs-12">
  
                    <div class="footer-widget">
  
                        <div class="sidebar-widget-wrapper">
  
                            <div class="footer-widget-header clearfix">
                                <h3> Residential Address </h3>
                            </div>  <!--  end .footer-widget-header --> 
  
  
                            <div class="textwidget">                                       
  
                                <i class="fa fa-envelope-o fa-contact"></i> <p>advocatekjthomas&#64;gmail.com<br/>mclat2025&#64;gmail.com</p>
  
                                <i class="fa fa-location-arrow fa-contact"></i> <p>Adv. K.J. Thomas Kallampally, <br/>KRA-13, Kamukumpallil, <br> Kallampally, Medical College P.O <br> Thiruvananthapuram-11</p>
  
                                <i class="fa fa-phone fa-contact"></i> <p>Office:&nbsp;+91 944 7117 399<br/>Cell:&nbsp; (+880) 0723 161 343</p>                              
  
                            </div>
  
                        </div> <!-- end .footer-widget-wrapper  -->
  
                    </div> <!--  end .footer-widget  -->
  
                </div> <!--  end .col-md-4 col-sm-12 -->
  
                <div class="col-md-3 col-sm-6 col-xs-12">
  
                    <div class="footer-widget">
  
                        <div class="sidebar-widget-wrapper">
  
                            <div class="footer-widget-header clearfix">
                                <h3>Consultation Schedule</h3>
                            </div>  <!--  end .footer-widget-header --> 
  
                            <div class="textwidget">
                                <ul class="opening-shedule">
                                    <li class="clearfix">
                                        <span>	Every day </span>
                                        <div class="pull-right">7:00 AM to 10:00 PM</div>                                            
                                    </li>
                                    <li>
                                        <span> Sunday </span>
                                        <div class="pull-right"> 3:00 PM to 7:00 PM</div>                                            
                                    </li>
                                    <li>
                                        <span> (except Court timings)</span>
                                                                                 
                                    </li>
                                                                         
                                </ul>
  
                            </div>  
  
  
  
                        </div> <!-- end .footer-widget-wrapper  -->
  
                    </div> <!--  end .footer-widget  -->
  
                </div> 
                
                
            </div> <!-- end row  -->
  
        </div> <!-- end .container  -->
  
    </section> <!--  end .footer-widget-area  -->
  
    <!--FOOTER CONTENT  -->
  
     <section class="footer-contents">
  
        <div class="container">
  
            <div class="row clearfix">
                <div class="col-md-12 col-sm-12 text-center clearfix">
                    <p class="copyright-text"> Copyright © 2025. All Right Reserved -  <a href="https://www.ipromisesolutions.com/">KJ Thomas & Associates   </a> </p>
                </div>
  
            </div>
  
        </div>
  
    </section>
  
  </footer>

  <a id="backTop">Back To Top</a>

