<section class="section-content-block section-secondary-bg">

    <div class="container">
        
        <div class="container">
        <div class="row section-heading-wrapper">
  
            <div class="col-md-12 col-sm-12 text-center">
                <h4 class="heading-alt-style text-capitalize text-dark-color">Stay Up To Date</h4>
                <span class="heading-separator heading-separator-horizontal"></span>
                <h2 class="subheading-alt-style">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit curabitur eu ante non ex lobortis posuere 
                    <br />
                    volutpat nec orci morbi facilisis massa lectus volutpat posuere volutpat.
                </h2>
            </div> <!-- end .col-sm-12  --> 
  
        </div>
    </div>
  
        <div class="row">  
            
            <div class="col-md-8 col-md-offset-2">
                <div class="horizontal-newsletter">
                    <form id="mc-form" class="mc-form fix" action="#">
                        <div class="news-subscription">
                            <input id="mc-email" name="EMAIL" placeholder="Email Address..." type="email">
                            <button id="mc-submit" type="submit"> Submit</button>
                        </div>
                    </form>
                </div> <!--  end .footer-widget  -->
            </div> <!--  end .col-md-3 col-sm-6 -->
  
        </div> <!--  end .row -->
        
    </div> <!--  end .container -->
  </section> 