    <section class="section-content-block section-pure-white-bg">

        <div class="container">

            <div class="row section-heading-wrapper">

                <div class="col-md-12 col-sm-12 text-center">
                    <h4 class="heading-alt-style text-capitalize text-dark-color">OUR HIGHLIGHTS</h4>
                    <span class="heading-separator heading-separator-horizontal"></span>
                    <h2 class="subheading-alt-style">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit curabitur eu ante non ex lobortis
                        posuere
                        <br />
                        volutpat nec orci morbi facilisis massa lectus volutpat posuere volutpat.
                    </h2>
                </div> <!-- end .col-sm-12  -->

            </div>

            <div class="row">

                <div class="highlight-carousel text-center owl-carousel" data-nav="false" data-dots="true"
                    data-autoplaytimeout="7000">

                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="highlight-layout-1 theme-custom-box-shadow theme-custom-box-animation ">
                            <figure>
                                <a href="#">
                                    <img src="assets/images/highlight_1.jpg" alt="" />
                                </a>
                            </figure>
                            <h5>
                                <a href="#">Ensure Equal Rights</a>
                            </h5>
                            <div>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dignissim mauris in
                                lobortis pharetra long side.
                            </div>
                            <a href="#" class="btn btn-theme btn-small">Read More <i
                                    class="fa fa-long-arrow-right"></i></a>
                        </div> <!--  end .main_highlights  -->
                    </div> <!--  end .col-md-3  -->

                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="highlight-layout-1 theme-custom-box-shadow theme-custom-box-animation">
                            <figure>
                                <a href="#"><img src="assets/images/highlight_2.jpg" alt="" /></a>
                            </figure>
                            <h5>
                                <a href="#">Bring Social Justice</a>
                            </h5>
                            <div>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dignissim mauris in
                                lobortis pharetra long side.
                            </div>
                            <a href="#" class="btn btn-theme btn-small">Read More <i
                                    class="fa fa-long-arrow-right"></i></a>
                        </div> <!--  end .main_highlights  -->
                    </div> <!--  end .col-md-3  -->

                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="highlight-layout-1 theme-custom-box-shadow theme-custom-box-animation">
                            <figure>
                                <a href="#"><img src="assets/images/highlight_3.jpg" alt="" /></a>
                            </figure>
                            <h5>
                                <a href="#">Stable Economy Growth</a>
                            </h5>
                            <div>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dignissim mauris in
                                lobortis pharetra long side.
                            </div>
                            <a href="#" class="btn btn-theme btn-small">Read More <i
                                    class="fa fa-long-arrow-right"></i></a>
                        </div> <!--  end .main_highlights  -->
                    </div> <!--  end .col-md-3  -->

                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="highlight-layout-1 theme-custom-box-shadow theme-custom-box-animation">
                            <figure>
                                <a href="#"><img src="assets/images/highlight_4.html" alt="" /></a>
                            </figure>
                            <h5>
                                <a href="#">Free Medication Care</a>
                            </h5>
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dignissim mauris in
                                lobortis pharetra long side.</div>
                            <a href="#" class="btn btn-theme btn-small">Read More <i
                                    class="fa fa-long-arrow-right"></i></a>
                        </div> <!--  end .main_highlights  -->
                    </div> <!--  end .col-md-3  -->

                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="highlight-layout-1 theme-custom-box-shadow theme-custom-box-animation">
                            <figure>
                                <a href="#"><img src="assets/images/highlight_5.html" alt="" /></a>
                            </figure>
                            <h5>
                                <a href="#">Strong Security Force</a>
                            </h5>
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dignissim mauris in
                                lobortis pharetra long side.</div>
                            <a href="#" class="btn btn-theme btn-small">Read More <i
                                    class="fa fa-long-arrow-right"></i></a>
                        </div> <!--  end .main_highlights  -->
                    </div> <!--  end .col-md-3  -->

                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="highlight-layout-1 theme-custom-box-shadow theme-custom-box-animation">
                            <figure>
                                <a href="#"><img src="assets/images/highlight_6.html" alt="" /></a>
                            </figure>
                            <h5>
                                <a href="#">Create Employment Scope</a>
                            </h5>
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dignissim mauris in
                                lobortis pharetra long side.</div>
                            <a href="#" class="btn btn-theme btn-small">Read More <i
                                    class="fa fa-long-arrow-right"></i></a>
                        </div> <!--  end .main_highlights  -->
                    </div> <!--  end .col-md-3  -->

                </div>

            </div>

        </div> <!--  end .container  -->

    </section>