<section class="section-content-block "> 
  
    <div class="container">
        <div class="row section-heading-wrapper">
  
            <div class="col-md-12 col-sm-12 text-center">
                <h4 class="heading-alt-style text-capitalize text-dark-color">Client's Feedback</h4>
                <span class="heading-separator heading-separator-horizontal"></span>
                <h2 class="subheading-alt-style">
                    
                </h2>
            </div> <!-- end .col-sm-12  --> 
  
        </div>
    </div>
  
    <div class="container theme-custom-box-shadow section-secondary-bg  margin-bottom-48 margin-top-16">
        
        <div class="row">
            
            
            <div class="col-lg-6 col-md-12 col-sm-12">
                
                <div class="testimonial-container owl-carousel text-left wow fadeInUp" data-items  ="1">
  
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
  
                        <div class="testimony-layout-1 transparent-bg">
  
                            <p class="testimony-text">                                 
                                Always friendly, honest service. Comparable prices and good advice. I appreciate the ride to work too and delivered to my work the same day it broke down.
                                Lorem ipsum dolor sit amet diam brute integre eapri. Per fugitzril apeirian cumea eaap pareat euripidi utmel graeci doming. Duo dicat apeirian facilisi ne. 
                            </p>
  
                            <div class="testimony-info">
                                <img class="img-responsive" src="assets/images/user_2.jpg" alt="Client Image" />
                                <h4>Brandon Munson </h4>
                                <h6>CTO, Fulcrum Design</h6>
                            </div>
                        </div> <!-- end .testimony-layout-1  -->
  
                    </div>
  
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
  
                        <div class="testimony-layout-1 transparent-bg">
                            <p class="testimony-text">                                 
                                Always friendly, honest service. Comparable prices and good advice. I appreciate the ride to work too and delivered to my work the same day it broke down.
                                Lorem ipsum dolor sit amet diam brute integre eapri. Per fugitzril apeirian cumea eaap pareat euripidi utmel graeci doming. Duo dicat apeirian facilisi ne. 
                            </p>
                            <img class="img-responsive" src="assets/images/user_3.jpg" alt="Client Image" />
                            <div class="testimony-info">
                                <h4>Sunnybrook Church </h4>
                                <h6 class="bq-author-info">CEO, HW Tech Inc</h6>
                            </div>
                        </div> <!-- end .testimony-layout-1  -->
  
                    </div>
  
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
  
                        <div class="testimony-layout-1 transparent-bg">
                            <p class="testimony-text">                                 
                                Always friendly, honest service. Comparable prices and good advice. I appreciate the ride to work too and delivered to my work the same day it broke down.
                                Lorem ipsum dolor sit amet diam brute integre eapri. Per fugitzril apeirian cumea eaap pareat euripidi utmel graeci doming. Duo dicat apeirian facilisi ne. 
                            </p>
                            <img class="img-responsive" src="assets/images/user_1.jpg" alt="Client Image" />                            
                            <div class="testimony-info">
                                <h4>Sunnybrook Church </h4>
                                <h6 class="bq-author-info">CEO, HW Tech Inc</h6>
                            </div>
                        </div> <!-- end .testimony-layout-1  -->        
  
                    </div>            
  
                </div> <!-- end .testimonial-container  -->            
                
            </div>
        
            <div class="col-lg-6 hidden-md hidden-xs hidden-sm no-padding">
                <figure>
                    <img src="assets/images/testimony_feat_img.jpg" alt="" class="db"/>
                </figure>
            </div>
            
            
        </div>
  
    </div> <!-- end .container  -->
    
    <div class="container margin-top-32" style="display: none;">
  
  
        <div class="row">
  
            <div class="logo-layout-1 logo-items owl-carousel" data-nav="false"  data-dots="false" data-items="7">
  
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
  
                    <div class="client-logo">
  
                        <img src="assets/images/logo_1.png" alt="" />
  
                    </div>
  
                </div>
  
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
  
                    <div class="client-logo">
  
                        <img src="assets/images/logo_2.png" alt="" />
  
                    </div>
  
                </div>
  
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
  
                    <div class="client-logo">
  
                        <img src="assets/images/logo_3.png" alt="" />
  
                    </div>
  
                </div>
  
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
  
                    <div class="client-logo">
  
                        <img src="assets/images/logo_4.png" alt="" />
  
                    </div>
  
                </div>
  
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
  
                    <div class="client-logo">
  
                        <img src="assets/images/logo_5.png" alt="" />
  
                    </div>
  
                </div>
  
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
  
                    <div class="client-logo">
  
                        <img src="assets/images/logo_6.png" alt="" />
  
                    </div>
  
                </div>
  
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
  
                    <div class="client-logo">
  
                        <img src="assets/images/logo_7.png" alt="" />
  
                    </div>
  
                </div>
  
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
  
                    <div class="client-logo">
                        <img src="assets/images/logo_8.png" alt="" />
                    </div>
                </div>
  
            </div> <!-- end .logo-items  -->
  
        </div> <!-- end row  -->
    </div>
  
  </section>