<section class="cta-layout-02 section-primary-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <h2 class="text-light-color">
                    Do you need legal consultancy? Feel free to contact.
                </h2>
                <p class="text-light-color">

                    Client oriented, long experienced and professional lawyers are ready
                    to provide you legal solutions instantly.

                </p>
            </div> <!--  end .col-md-8  -->
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-center">
                <a class="btn btn-theme btn-square btn-theme-invert wow bounceIn" href="contact">CONTACT WITH US</a>
            </div> <!--  end .col-md-4  -->
        </div> <!--  end .row  -->
    </div>
</section>


<section class="section-content-block ">

    <div class="container">
        <div class="row section-heading-wrapper">

            <div class="col-md-12 col-sm-12 text-center">
                <h4 class="heading-alt-style text-capitalize text-dark-color">Client's Feedback</h4>
                <span class="heading-separator heading-separator-horizontal"></span>
                <h2 class="subheading-alt-style">

                </h2>
            </div> <!-- end .col-sm-12  -->

        </div>
    </div>

    <div class="container theme-custom-box-shadow section-secondary-bg  margin-bottom-48 margin-top-16">

        <div class="row">


            <div class="col-lg-6 col-md-12 col-sm-12">

                <div class="testimonial-container owl-carousel text-left wow fadeInUp" data-items="1">

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                        <div class="testimony-layout-1 transparent-bg">

                            <p class="testimony-text">
                                K.J. Thomas has been a pleasure to work with.
                                He brought clarity, direction, and strong expertise to our project.
                                His support made a real difference in the outcome.
                                We’re grateful for the partnership through Advacete.
                            </p>

                            <div class="testimony-info">
                               <img class="img-responsive" src="assets/images/user_2.png" alt="SujithKumar" />
                                <h4>SujithKumar V K </h4>
                                <h6>Founder & CEO, Ipromise Solutions Pvt Ltd</h6>
                            </div>
                        </div> <!-- end .testimony-layout-1  -->

                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                        <div class="testimony-layout-1 transparent-bg">
                            <p class="testimony-text">
                                Our experience with K.J. Thomas at Advacete was excellent.
                                He was always responsive, knowledgeable, and easy to communicate with.
                                His guidance helped us avoid costly mistakes.
                                Highly recommended for anyone needing expert support.
                            </p>
                             <img class="img-responsive" src="assets/images/user_2.png" alt="SathishKumar" />
                            <div class="testimony-info">
                                <h4>SathishKumar K </h4>
                                <h6 class="bq-author-info">CEO, Flying Bees</h6>
                            </div>
                        </div> <!-- end .testimony-layout-1  -->

                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                        <div class="testimony-layout-1 transparent-bg">
                            <p class="testimony-text">
                                We were impressed with K.J. Thomas’s attention to detail and dedication.
                                He handled everything with care and ensured smooth progress.
                                His insights were invaluable to our success.
                            </p>
                            <img class="img-responsive" src="assets/images/user_2.png" alt="RAJESHKUMAR" />
                            <div class="testimony-info">
                                <h4>RAJESHKUMAR M</h4>
                                <h6 class="bq-author-info">CIVIL ENGINEER</h6>
                            </div>
                        </div> <!-- end .testimony-layout-1  -->

                    </div>

                </div> <!-- end .testimonial-container  -->

            </div>

            <div class="col-lg-6 hidden-md hidden-xs hidden-sm no-padding">
                <figure>
                    <img src="assets/images/testimony_feat_img.jpeg" alt="" class="db" />
                </figure>
            </div>


        </div>

    </div> <!-- end .container  -->


</section>