<section class="section-content-block section-pure-white-bg no-bottom-padding"
    data-bg_img="assets/images/bg-gradient-right.png" data-bg_color="#edf0f2" data-bg_opacity="0.3"
    data-bg_position="bottom right" data-bg_size="contain">
    <div class="container">

        <div class="row">

            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">

                <div class="row">

                   

                    <div class="col-md-6">
                        <div class="highlight-layout-2">

                            <div class="highlight-icon">
                                <i class="fa-solid fa-scale-balanced"></i>
                            </div> <!-- end .service-icon  -->

                            <div class="highlight-text">
                                <h5><a href="#"> Flag state and court jurisdiction, Arbitration & settlement through P&I
                                        Club</a></h5>
                                <div>Arbitration & Settlement Maritime Dispute, Marine Insurance, LLMC, MLC, INSA. MUI
                                    Agreement P&I club, Settlement & Etc... </div>
                            </div> <!-- end .service-text  -->

                        </div> <!-- end .service-item  -->
                    </div>

                    
                    <div class="col-md-6">
                        <div class="highlight-layout-2">

                            <div class="highlight-icon">
                                <!-- <i class="fa fa-wrench"></i> --><i class="fa-solid fa-ship"></i>
                            </div> <!-- end .service-icon  -->

                            <div class="highlight-text">
                                <h5><a href="#">Maritime (Admirality) & Customs Laws</a></h5>
                                <div>The Court cases and disputes issue related to country of registration of ship &
                                    which court view can try the depend on one dispute resolution arising from
                                    maritime & commercial
                                    activities.
                                    Also provides <span style="font-weight: bold;"> Awareness/ learning/ Training
                                        Programmes</span> for Sea farers</div>
                            </div> <!-- end .service-text  -->

                        </div> <!-- end .service-item  -->
                    </div>
                    <div class="col-md-6">
                        <div class="highlight-layout-2">

                            <div class="highlight-icon">
                                <i class="fa-solid fa-sack-dollar"></i>
                            </div> <!-- end .service-icon  -->

                            <div class="highlight-text">
                                <h5><a href="#">International Trade & Commerce</a></h5>
                                <div>Ensuring fair, safe, and regulated movement of goods across nations under
                                    international conventions and trade agreements.</div>
                            </div> <!-- end .service-text  -->

                        </div> <!-- end .service-item  -->
                    </div>




                    <div class="col-md-6">
                        <div class="highlight-layout-2">

                            <div class="highlight-icon">
                                <i class="fa fa-users"></i>
                            </div> <!-- end .service-icon  -->

                            <div class="highlight-text">
                                <h5><a href="#">Maritime, Hydrographic Consultancy & Allied services</a></h5>
                                <div>Company registration, Ship registration,Ship survey, Ship maneuvering, Hydrographic
                                    survey, Dredging assistants, Preparation of DPR, Navigation aid, Advisory to ferry
                                    boards, pilotage -tug service and related activities </div>
                            </div> <!-- end .service-text  -->

                        </div> <!-- end .service-item  -->
                    </div>




                </div>

            </div>

            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 hidden-sm hidden-xs hidden-md">
                <figure class="about-us-img wow fadeInLeft about-us-stick-bottom">
                    <img src="assets/images/about_person_bg.png" alt="about_person_bg" />
                </figure>
            </div>

        </div> <!--  end .row  -->
    </div> <!--  end .container -->
</section>

<section class="section-content-block section-content-block-minimal section-custom-bg"
    data-bg_img="assets/images/pattern_1.png" data-bg_color="#3399ff" data-bg_opacity="0.95" data-bg_repeat="repeat"
    data-bg_size="contain">

    <div class="container">

        <div class="row">



            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">

                <div class="counter-block-2 light-counter-layout counter-border">

                    <i class="icon fa fa-users"></i>

                    <div class="count-info">
                        <span class="counter">5000</span>
                        <span class="counter-postfix">+</span>
                        <p class="text-capitalize">Clients</p>
                    </div>

                </div>

            </div> <!--  end .col-lg-3 col-md-3 col-sm-6 col-xs-12 -->

            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">

                <div class="counter-block-2 light-counter-layout counter-border">

                    <i class="icon fa fa-smile-o"></i>

                    <div class="count-info">
                        <span class="counter">10</span>
                        <span class="counter-postfix">+</span>
                        <p class="text-capitalize">Years Experience</p>
                    </div>

                </div>

            </div> <!--  end .col-lg-3 col-md-3 col-sm-6 col-xs-12 -->

            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">

                <div class="counter-block-2 light-counter-layout counter-border">

                    <i class="icon fa fa-forumbee"></i>
                    <div class="count-info">
                        <span class="counter">99.99</span>
                        <span class="counter-postfix">%</span>
                        <p class="text-capitalize">Successful Case</p>
                    </div>

                </div>

            </div> <!--  end .col-lg-3 col-md-3 col-sm-6 col-xs-12 -->

            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">

                <div class="counter-block-2 light-counter-layout counter-border">

                    <i class="icon fa fa-trophy"></i>
                    <div class="count-info">
                        <span class="counter">3</span>
                        <span class="counter-postfix">+</span>
                        <p class="text-capitalize"> Awards</p>
                    </div>

                </div>

            </div> <!--  end .col-lg-3 col-md-3 col-sm-6 col-xs-12 -->

        </div> <!--  end .row  -->

    </div> <!--  end .container  -->

</section>