<section class="section-content-block section-pure-white-bg no-bottom-padding"  data-bg_img="assets/images/bg-gradient-right.png" data-bg_color="#edf0f2" data-bg_opacity="0.3" data-bg_position="bottom right" data-bg_size="contain">
    <div class="container">
        
        <div class="row">
  
            <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
  
                <div class="row">
                    
                    <div class="about-us-intro">
  
                        <div class="col-md-12 col-sm-12 text-left margin-bottom-24">
                            <h3 class="block-heading-title margin-top-12 text-dark-color">About K.J. Thomas and Associates </h3>
                            <!-- <h5> Maritime and Customs Lawyers</h5> -->
                            <p>
                          With more than 10 years of practice, our firm specializes in a wide range of legal issues, offering comprehensive services across various jurisdictions and dispute resolution platforms.
                            </p>
                        </div> <!-- end .col-sm-12  --> 
  
                    </div>
                    
                    <div class="col-md-6">
                        <div class="highlight-layout-2">
  
                            <div class="highlight-icon">
                                <i class="fa fa-wrench"></i>
                            </div> <!-- end .service-icon  -->
  
                            <div class="highlight-text">
                                <h5><a href="#">Maritime & Admiralty Law</a></h5>
                                <div>Laws of the sea and the Court cases and disputes arising from maritime activities.</div>
                            </div> <!-- end .service-text  -->
  
                        </div> <!-- end .service-item  -->
                    </div>
                    
                    
                      <div class="col-md-6">
                        <div class="highlight-layout-2">
  
                            <div class="highlight-icon">
                                <i class="fa fa-users"></i>
                            </div> <!-- end .service-icon  -->
  
                            <div class="highlight-text">
                                <h5><a href="#"> Flag state and court jurisdiction</a></h5>
                                <div>Country of registration of ship and Which court you can try the case , depends on the dispute.</div>
                            </div> <!-- end .service-text  -->
  
                        </div> <!-- end .service-item  -->
                    </div>
                   
                    <div class="col-md-6">
                        <div class="highlight-layout-2">
  
                            <div class="highlight-icon">
                                <i class="fa fa-calendar-plus-o"></i>
                            </div> <!-- end .service-icon  -->
  
                            <div class="highlight-text">
                                <h5><a href="#">Dispute Resolution and Arbitration</a></h5>
                                <div>Settled by judges in courts, applying statutory law, and producing binding judgments.</div>
                            </div> <!-- end .service-text  -->
  
                        </div> <!-- end .service-item  -->
                    </div>
                     <div class="col-md-6">
                        <div class="highlight-layout-2">
  
                            <div class="highlight-icon">
                                <i class="fa fa-hand-peace-o"></i>
                            </div> <!-- end .service-icon  -->
  
                            <div class="highlight-text">
                                <h5><a href="#">International Trade & Customs Law</a></h5>
                                <div>International Trade Law sets the rules and Customs Law enforces them at the border.</div>
                            </div> <!-- end .service-text  -->
  
                        </div> <!-- end .service-item  -->
                    </div>
                    
                  
                    
                </div>
  
            </div>
            
            <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 hidden-sm hidden-xs hidden-md">
                <figure class="about-us-img wow fadeInLeft about-us-stick-bottom">
                    <img src="assets/images/about_person_bg.png" alt="about_person_bg"/>
                </figure>
            </div>
            
        </div> <!--  end .row  -->
    </div> <!--  end .container -->
  </section> 

  <section class="section-content-block section-content-block-minimal section-custom-bg" data-bg_img="assets/images/pattern_1.png" data-bg_color="#3399ff" data-bg_opacity="0.95" data-bg_repeat="repeat" data-bg_size="contain">
  
    <div class="container">
        
        <div class="row">
            
            
            
             <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
  
                <div class="counter-block-2 light-counter-layout counter-border">
                    
                    <i class="icon fa fa-users"></i>
                    
                    <div class="count-info">
                        <span class="counter">7000</span>
                        <p class="text-capitalize">Happy Clients</p>
                    </div>
  
                </div>
  
            </div> <!--  end .col-lg-3 col-md-3 col-sm-6 col-xs-12 -->
            
             <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
  
                <div class="counter-block-2 light-counter-layout counter-border">
                    
                    <i class="icon fa fa-smile-o"></i>
                    
                    <div class="count-info">
                        <span class="counter">35</span> 
                        <span class="counter-postfix">+</span>   
                        <p class="text-capitalize">Years Experience</p>
                    </div>
  
                </div>
  
            </div> <!--  end .col-lg-3 col-md-3 col-sm-6 col-xs-12 -->
  
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
  
                <div class="counter-block-2 light-counter-layout counter-border">
  
                    <i class="icon fa fa-forumbee"></i>
                    <div class="count-info">
                        <span class="counter">99.99</span> 
                        <span class="counter-postfix">%</span>   
                        <p class="text-capitalize">Successful Case</p>
                    </div>
  
                </div>
  
            </div> <!--  end .col-lg-3 col-md-3 col-sm-6 col-xs-12 -->
  
             <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
  
                <div class="counter-block-2 light-counter-layout counter-border">
  
                    <i class="icon fa fa-trophy"></i>
                    <div class="count-info">
                        <span class="counter">1275</span>    
                        <p class="text-capitalize">Award Winners</p>
                    </div>
  
                </div>
  
            </div> <!--  end .col-lg-3 col-md-3 col-sm-6 col-xs-12 -->
            
       </div>  <!--  end .row  -->            
     
    </div> <!--  end .container  -->
    
  </section> 

 