<section class="section-content-block">

    <div class="container wow fadeInUp">
  
        <div class="row section-heading-wrapper">
  
            <div class="col-md-12 col-sm-12 text-center">
                <h4 class="heading-alt-style text-capitalize text-dark-color">Practice Areas</h4>
                <span class="heading-separator heading-separator-horizontal"></span>
                <h2 class="subheading-alt-style">
                    Lorem ipsum dolor sit amet consectetur adipiscing elit curabitur eu ante non ex lobortis posuere 
                    <br />
                    volutpat nec orci morbi facilisis massa lectus volutpat posuere volutpat.
                </h2>
            </div> <!-- end .col-sm-12  --> 
  
        </div>
  
        <div class="row">  
            
            <div class="service-carousel owl-carousel" data-dots="false" data-nav="false" data-items="3">
  
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
  
                    <a href="#">
  
                        <article class="service-block-2 text-center">
                            <figure>
                                <img src="assets/images/service_1.jpg" alt="service" />
                                <span class="fa fa-wrench"></span>
                            </figure>
  
                            <h3>
                                 Administrative Law
                              <br />
                                <span>Starting &#64; $19</span>
                            </h3>
                            
  
                        </article>
  
                    </a>
  
                </div> <!--  end .col-lg-4 col-md-4 col-sm-12  -->
  
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
  
                    <a href="#">
  
                        <article class="service-block-2 text-center">
                            <figure>
                                <img src="assets/images/service_2.jpg" alt="service" />
                                <span class="fa fa-compress"></span>
                            </figure>
  
                            <h3>
                                Civil Litigation
                              <br />
                                <span>Starting &#64; $59</span>
                            </h3>
  
                        </article>
                    </a>
  
                </div> <!--  end .col-lg-4 col-md-4 col-sm-12  -->
  
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
  
                    <a href="#">
  
                        <article class="service-block-2 text-center">
                            <figure>
                                <img src="assets/images/service_3.jpg" alt="service" />
                                <span class="fa fa-address-card"></span>
                            </figure>
  
                            <h3>
                                Business/Corporate
                                <br />
                                <span>Starting &#64; $33</span>
                            </h3>
  
                        </article>
                    </a>
  
                </div> <!--  end .col-lg-4 col-md-4 col-sm-12  -->
  
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
  
                    <a href="#">
  
                        <article class="service-block-2 text-center">
                            <figure>
                                <img src="assets/images/service_4.jpg" alt="service" />
                                <span class="fa fa-th-list"></span>
                            </figure>
  
                            <h3>
                                Construction Liens
                               <br />
                                <span>Starting &#64; $29</span>
                            </h3>
  
                        </article>
                    </a>
                </div> <!--  end .col-lg-4 col-md-4 col-sm-12  -->
  
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
  
                    <a href="#">
  
                        <article class="service-block-2 text-center">
                            <figure>
                                <img src="assets/images/service_5.jpg" alt="service" />
                                <span class="fa fa-hard-of-hearing"></span>
                            </figure>
  
                            <h3>
                                 Estate Planning
                               <br />
                               <span>Starting &#64; $29</span>
                            </h3>
  
                        </article>
                    </a>
  
                </div> <!--  end .col-lg-4 col-md-4 col-sm-12  -->
  
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
  
                    <a href="#">
  
                        <article class="service-block-2 text-center">
                            <figure>
                                <img src="assets/images/service_6.jpg" alt="service" />
                                <span class="fa fa-key"></span>
                            </figure>
  
                            <h3>
                                Money Laundering
                                <br />
                              <span>Starting &#64; $15</span> 
                            </h3>
  
                        </article>
                    </a>
  
                </div> <!--  end .col-lg-4 col-md-4 col-sm-12  -->
  
            </div>
            
            <div class="col-sm-12 text-center">
                
                <a href="#" class="btn btn-theme margin-top-24 btn-square">LOAD ALL SERVICES</a>
                
            </div>
  
        </div>  <!--  end .row  --> 
  
    </div> <!--  end .container  -->
  
  </section> 


  <section class="section-feat-about-us section-custom-bg" data-bg_img="assets/images/about_us_info_bg.jpg" data-bg_color="#111111" data-bg_opacity="0.8" >

    <div class="side-background">
        <div class="col-md-6 feat-img-side-bg visible-lg">
            <div class="row">
                <img src="assets/images/.jpg" alt="">
            </div>
        </div>
    </div>
  
    <div class="container">
        <div class="row">     
            <div class="col-lg-6 col-md-12 col-sm-12 col-lg-offset-6 about-us-info-block wow fadeInLeft">
  
                <div class="row">
  
                    <div class="about-us-info  text-left">
  
                        <h3 class="about-us-slogan about-us-slogan-bold text-light-color">
                           BEST LAWYERS<br> <i class="text-curly text-highlighter-primary">AT</i> YOUR SERVICE !<br>
                        </h3>
  
                        <div class="margin-top-48 text-light-color">
  
                            <p class="text-light-color padding-top-24">
                                We are dedicated to helping our clients reach their ultimate goals and full potential, 
                                  to personalising their event experiences, to providing an creative atmosphere,
                                                                       and to making a difference.
                            </p>
  
                            <div class="about-details"> 
  
                                <ul class="custom-bullet-list custom-icon">
                                    <li>Long experience in the field of law.</li>
                                    <li>Fast and spontaneous customer care.</li>
                                    <li>Cost effective legal solution provider.</li>
                                    <li>Our attorneys are successful professionals .</li>
                                    <li>Our environment is safe, fun and comfortable.</li>
  
                                </ul>
  
                            </div> <!--  end .about-details -->  
  
                            <p class="margin-top-24 text-light-color">
                                <a href="#" class="btn btn-theme">LEARN ABOUT US</a>
                            </p>
  
                        </div>
  
  
  
                    </div>
  
                </div>
            </div>
        </div>
    </div>
  
  </section>