<app-ip-header></app-ip-header>

<section class="page-header">

    <div class="container">

        <div class="row">

            <div class="col-sm-12 text-center">


                <h3>
               Legal Consultancy
                </h3>

                <p class="page-breadcrumb">
                    <a href="#">Home</a> / Legal Consultancy
                </p>


            </div>

        </div> <!-- end .row  -->

    </div> <!-- end .container  -->

</section> <!-- end .page-header  -->

<!-- SINGLE SERVICE PAGE -->

  <section class="section-content-block">

        <div class="container">

            <div class="row section-heading-wrapper">

                <div class="col-md-12 col-sm-12 text-center">
                    <h4>K.J. Thomas</h4>
                    <span class="heading-separator heading-separator-horizontal"></span>
                    <h2>Legal Consultancy</h2>
                </div> <!-- end .col-sm-12  -->

            </div>

            <div class="row">

                <div class="col-md-4 col-sm-12">

                    <article class="info-box-layout-1">

                        <span class="fa fa-book"></span>
                        <h2>Ultimate Solution</h2>
                        <p>Solving problems of any software computer at a particular location from a computer at another
                            location is remote support.</p>
                        <a href="#" class="btn btn-theme btn-small">Download</a>
                    </article>

                </div> <!--  end col-sm-6  -->

                <div class="col-md-4 col-sm-12">

                    <article class="info-box-layout-1">
                        <span class="fa fa-group"></span>
                        <h2>Support Forum</h2>
                        <p>Solving problems of any software computer at a particular location from a computer at another
                            location is remote support.</p>
                        <a href="#" class="btn btn-theme btn-small">Download</a>
                    </article>

                </div> <!--  end col-sm-6  -->

                <div class="col-md-4 col-sm-12">

                    <article class="info-box-layout-1">

                        <span class="fa fa-question-circle"></span>
                        <h2>Searchable FAQ</h2>
                        <p>Solving problems of any software computer at a particular location from a computer at another
                            location is remote support.</p>
                        <a href="#" class="btn btn-theme btn-small">Download</a>
                    </article>

                </div> <!--  end col-sm-6  -->

            </div> <!-- end row  -->

        </div> <!-- end .container  -->

    </section> <!--  end .section-our-team -->


<section class="cta-layout-02 section-primary-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <h2 class="text-light-color">
                    Do you have any question? Feel free to contact.
                </h2>
                <p class="text-light-color">
                    Become water safe as quickly as possible and learn to swim using
                    proper stroke mechanics from the beginning.
                </p>
            </div> <!--  end .col-md-8  -->
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-center">
                <a class="btn btn-theme btn-square btn-theme-invert wow bounceIn" href="contact">CONTACT WITH US</a>
            </div> <!--  end .col-md-4  -->
        </div> <!--  end .row  -->
    </div>
</section>





<app-ip-footer></app-ip-footer>