<app-ip-header></app-ip-header>

<section class="page-header">

    <div class="container">

        <div class="row">

            <div class="col-sm-12 text-center">


                <h3>
                    Legal Consultancy
                </h3>

                <p class="page-breadcrumb">
                    <a href="#">Home</a> / Legal Consultancy
                </p>


            </div>

        </div> <!-- end .row  -->

    </div> <!-- end .container  -->

</section> <!-- end .page-header  -->

<!-- SINGLE SERVICE PAGE -->

<section class="section-content-block">

    <div class="container">

        <div class="row section-heading-wrapper">

            <div class="col-md-12 col-sm-12 text-center">
                <h4>K.J. Thomas</h4>
                <span class="heading-separator heading-separator-horizontal"></span>
                <h4>Legal Consultancy</h4>
            </div> <!-- end .col-sm-12  -->

        </div>

        <div class="row">

            <div class="col-md-4 col-sm-12">

                <article class="info-box-layout-1">

                    <span class="fa fa-book"></span>
                    <h4>Practice Areas</h4>
                    <p>professional practice, academic contribution, and industry engagement, our team provides trusted
                        guidance for shipowners, operators, exporters, importers, and all those navigating the
                        complexities of maritime law and international commerce</p>
                    <a href="assets/uploads/Maritime-Law-book-kj-thomas.pdf" class="btn btn-theme btn-small"
                        target="_blank">Download</a>
                </article>

            </div> <!--  end col-sm-6  -->

            <div class="col-md-4 col-sm-12">

                <article class="info-box-layout-1">
                    <span class="fa fa-group"></span>
                    <h4>Maritime (Admiralty)
                    </h4>
                    <p>professional practice, academic contribution, and industry engagement, our team provides trusted
                        guidance for shipowners, operators, exporters, importers, and all those navigating the
                        complexities of maritime law and international commerce</p>
                    <a href="assets/uploads/Maritime-Law-book-kj-thomas.pdf" class="btn btn-theme btn-small"
                        target="_blank">Download</a>
                </article>

            </div> <!--  end col-sm-6  -->

            <div class="col-md-4 col-sm-12">

                <article class="info-box-layout-1">

                    <span class="fa fa-question-circle"></span>
                    <h4>International Trade</h4>
                    <p>professional practice, academic contribution, and industry engagement, our team provides trusted
                        guidance for shipowners, operators, exporters, importers, and all those navigating the
                        complexities of maritime law and international commerce</p>
                    <a href="assets/uploads/Maritime-Law-book-kj-thomas.pdf" class="btn btn-theme btn-small"
                        target="_blank">Download</a>
                </article>

            </div>


            <div class="col-md-4 col-sm-12">

                <article class="info-box-layout-1">

                    <span class="fa fa-question-circle"></span>
                    <h4>Customs Clearance
                    </h4>
                    <p>professional practice, academic contribution, and industry engagement, our team provides trusted
                        guidance for shipowners, operators, exporters, importers, and all those navigating the
                        complexities of maritime law and international commerce</p>
                    <a href="assets/uploads/Maritime-Law-book-kj-thomas.pdf" class="btn btn-theme btn-small"
                        target="_blank">Download</a>
                </article>

            </div>

            <div class="col-md-4 col-sm-12">

                <article class="info-box-layout-1">

                    <span class="fa fa-question-circle"></span>
                    <h4>Freight Forwarding
                    </h4>
                    <p>professional practice, academic contribution, and industry engagement, our team provides trusted
                        guidance for shipowners, operators, exporters, importers, and all those navigating the
                        complexities of maritime law and international commerce</p>
                    <a href="assets/uploads/Maritime-Law-book-kj-thomas.pdf" class="btn btn-theme btn-small"
                        target="_blank">Download</a>
                </article>

            </div>


            <div class="col-md-4 col-sm-12">

                <article class="info-box-layout-1">

                    <span class="fa fa-question-circle"></span>
                    <h4>Ship Chandling
                    </h4>
                    <p>professional practice, academic contribution, and industry engagement, our team provides trusted
                        guidance for shipowners, operators, exporters, importers, and all those navigating the
                        complexities of maritime law and international commerce</p>
                    <a href="assets/uploads/Maritime-Law-book-kj-thomas.pdf" class="btn btn-theme btn-small"
                        target="_blank">Download</a>
                </article>

            </div>


            <div class="col-md-4 col-sm-12">

                <article class="info-box-layout-1">

                    <span class="fa fa-question-circle"></span>
                    <h4>Ship / Crew

                    </h4>
                    <p>professional practice, academic contribution, and industry engagement, our team provides trusted
                        guidance for shipowners, operators, exporters, importers, and all those navigating the
                        complexities of maritime law and international commerce</p>
                    <a href="assets/uploads/Maritime-Law-book-kj-thomas.pdf" class="btn btn-theme btn-small"
                        target="_blank">Download</a>
                </article>

            </div>


            <div class="col-md-4 col-sm-12">

                <article class="info-box-layout-1">

                    <span class="fa fa-question-circle"></span>
                    <h4>Crew Manning

                    </h4>
                    <p>professional practice, academic contribution, and industry engagement, our team provides trusted
                        guidance for shipowners, operators, exporters, importers, and all those navigating the
                        complexities of maritime law and international commerce</p>
                    <a href="assets/uploads/Maritime-Law-book-kj-thomas.pdf" class="btn btn-theme btn-small"
                        target="_blank">Download</a>
                </article>

            </div>


            <div class="col-md-4 col-sm-12">

                <article class="info-box-layout-1">

                    <span class="fa fa-question-circle"></span>
                    <h4>Recruitment and placement
                    </h4>
                    <p>professional practice, academic contribution, and industry engagement, our team provides trusted
                        guidance for shipowners, operators, exporters, importers, and all those navigating the
                        complexities of maritime law and international commerce</p>
                    <a href="assets/uploads/Maritime-Law-book-kj-thomas.pdf" class="btn btn-theme btn-small"
                        target="_blank">Download</a>
                </article>

            </div>

        </div> <!-- end row  -->

    </div> <!-- end .container  -->

</section> <!--  end .section-our-team -->


<section class="cta-layout-02 section-primary-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <h4 class="text-light-color">
                    Do you have any question? Feel free to contact.
                </h4>
                <p class="text-light-color">
                    Become water safe as quickly as possible and learn to swim using
                    proper stroke mechanics from the beginning.
                </p>
            </div> <!--  end .col-md-8  -->
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-center">
                <a class="btn btn-theme btn-square btn-theme-invert wow bounceIn" href="contact">CONTACT WITH US</a>
            </div> <!--  end .col-md-4  -->
        </div> <!--  end .row  -->
    </div>
</section>
<app-ip-footer></app-ip-footer>