<app-ip-header></app-ip-header>

<section class="page-header">

    <div class="container">

        <div class="row">

            <div class="col-sm-12 text-center">


                <h3>
                    Court Jurisdictions
                </h3>

                <p class="page-breadcrumb">
                    <a href="#">Home</a> / Court Jurisdictions
                </p>


            </div>

        </div> <!-- end .row  -->

    </div> <!-- end .container  -->

</section> <!-- end .page-header  -->

<!-- SINGLE SERVICE PAGE -->

<section class="section-content-block">

    <div class="container">

        <div class="row">
         

            <div class="col-sm-8">

                <div class="row">

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                        <div class="single-service margin-bottom-24">
                            <a href="#" title="Service">
                                <img src="assets/images/service_single1.jpeg" alt="service" />
                            </a>
                        </div> <!--  end articles -->



                        <div class="single-service-content">


                            <h2 class="block-heading-title text-capitalize">Our Expertise</h2>
                            <hr />

                            <p>
                                With more than 10 years of practice, our firm specializes in a wide range of legal
                                issues, offering comprehensive services across various jurisdictions and dispute
                                resolution platforms. Our expertise is focused on the following key areas:
                            </p>
                            <hr>
                            <p style="font-weight: bold;"> Our lawyers have extensive experience appearing before a
                                range of legal bodies,
                                including:</p>

                            <ul>
                                <li> Commercial Courts & High Courts</li>
                                <li>Admiralty Jurisdiction</li>
                                <li>International Flag State Jurisdictions</li>

                                <li>P&I Club Settlements</li>
                                <li>International Arbitration and Mediation Forums</li>
                                <li>Customs Commissioner Appeals, CESTAT, & CERAT</li>
                                <li>Permanent Lok Adalat Courts</li>
                                <li>Marine and General Insurance</li>
                            </ul>
                            <hr />




                        </div>



                    </div>

                </div> <!-- end .container  -->

            </div>

   <div class="col-md-4 col-sm-12">


                <div class="widget site-sidebar">

                    <h2 class="widget-title">Maritime & Admiralty Law </h2>

                    <ul class="widget-service-category clearfix">

                        <li>
                            <a title="service details" href="#">Admiralty Jurisdiction</a>
                        </li>
                        <li>
                            <a title="service details" href="#">Charterparty Issues</a>
                        </li>
                        <li>
                            <a title="service details" href="#">P&I Club Settlements</a>
                        </li>
                        <li>
                            <a title="service details" href="#">Marine Insurance</a>
                        </li>
                        <li>
                            <a title="service details" href="#">Port-related Issues</a>
                        </li>
                        <li>
                            <a title="service details" href="#">Marine Pollution</a>
                        </li>
                        <li>
                            <a title="service details" href="#">Salvage Issues</a>
                        </li>
                    </ul>

                </div>

                <div class="widget site-sidebar">

                    <h2 class="widget-title">
                        International Trade & Customs Law

                    </h2>

                    <ul class="widget-service-category clearfix">

                        <li>
                            <a title="service details" href="#">Exim Trade</a>
                        </li>
                        <li>
                            <a title="service details" href="#">Customs</a>
                        </li>


                    </ul>

                </div>

                <div class="widget site-sidebar">

                    <h2 class="widget-title">
                        Dispute Resolution

                    </h2>

                    <ul class="widget-service-category clearfix">

                        <li>
                            <a title="service details" href="#">Litigation</a>
                        </li>
                        <li>
                            <a title="service details" href="#">Alternative Dispute Resolution (ADR)</a>
                        </li>


                    </ul>

                </div>




             


       <div class="widget site-sidebar">

                    <h2 class="widget-title">Contact Support</h2>

                    <div class="text-widget text-center">

                        <p>
                            <!-- <img src="assets/images/support_user.jpg" alt="" class="img-circle img-thumbnail inline" />
                            <br /> -->
                            <strong>Adv. K.J. THOMAS
</strong>
                            <br />
                            <i>Marine Asdminrality</i>
                            <span class="block-primary-bg text-light-color padding-all-4 margin-top-24 db text-center">
                               +91 944 7117 399
                            </span>
                        </p>
                              <p>
                            <!-- <img src="assets/images/support_user.jpg" alt="" class="img-circle img-thumbnail inline" />
                            <br /> -->
                            <strong> Adv. V. GEROSH KUMAR
</strong>
                            <br />
                            <i>International Trade & Customs Law</i>
                            <span class="block-primary-bg text-light-color padding-all-4 margin-top-24 db text-center">
                              +91 944 6526 505
                            </span>
                        </p>

                              <p>
                            <!-- <img src="assets/images/support_user.jpg" alt="" class="img-circle img-thumbnail inline" />
                            <br /> -->
                            <strong> Adv. K. PRADEEP KUMAR
 </strong>
                            <br />
                            <i>Senior Trainer, Swim Easy</i>
                            <span class="block-primary-bg text-light-color padding-all-4 margin-top-24 db text-center">
                               +91 98475 63366
                            </span>
                        </p>
                    </div>

                </div> <!--  end .widget -->

            </div> <!-- end .col-sm-4  -->

        </div>

    </div>

</section> <!--  end .section-our-team -->

<!--  SECTION SERVICE 03 -->


<!--  SECTION CTA 04 -->

<section class="cta-layout-02 section-primary-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <h2 class="text-light-color">
                    Do you have any question? Feel free to contact.
                </h2>
                <p class="text-light-color">
                    Become water safe as quickly as possible and learn to swim using
                    proper stroke mechanics from the beginning.
                </p>
            </div> <!--  end .col-md-8  -->
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-center">
                <a class="btn-theme btn-square btn-theme-invert wow bounceIn" href="contact">CONTACT WITH US</a>
            </div> <!--  end .col-md-4  -->
        </div> <!--  end .row  -->
    </div>
</section>





<app-ip-footer></app-ip-footer>