<app-ip-header></app-ip-header>
<section class="page-header">

    <div class="container">

        <div class="row">

            <div class="col-sm-12 text-center">


                <h3>
                    Contact Us
                </h3>

                <p class="page-breadcrumb">
                    <a href="#">Home</a> / Contact
                </p>


            </div>

        </div> <!-- end .row  -->

    </div> <!-- end .container  -->

</section> <!-- end .page-header  -->

<!--  MAIN CONTENT  -->

<section class="section-content-block border-bottom-1p-solid-light">

    <div class="container">

        <div class="row">

            <div class="col-md-12">
                <h2 class="contact-title">Contact us</h2>
            </div>

            <div class="col-md-4">

                <ul class="contact-info">
                    <li>
                        <span class="icon-container"><i class="fa fa-home"></i></span>

                    </li>
                    <address>Adv. K.J. Thomas Kallampally,<br>
                        KRA-13, Kamukumpallil,<br>
                        Kallampally, <br>Medical College P.O<br>
                        Thiruvananthapuram-11</address>
                </ul>

            </div>

            <div class="col-md-4">

                <ul class="contact-info">
                    <span class="icon-container"><i class="fa fa-phone"></i></span>
                    <li>

                      
                            <p> K.J. THOMAS  <BR> +91 944 7117 399</p>
                       
                       
                    </li>
                    <li>
                     
                            <p> GEROSH KUMAR V <br> +91 94465 26505</p>
                       
                    </li>

                </ul>

            </div>

            <div class="col-md-4">
                <ul class="contact-info">
                    <li>
                        <span class="icon-container"><i class="fa fa-envelope"></i></span>


                        <p> K.J. THOMAS  <br>  advocatekjthomas&#64;gmail.com </p>
                    </li>
                   
                    <li>
                        <p> GEROSH KUMAR V  <br> 
                       vgkumartvm1969&#64;gmail.com</p>
                    </li>
                </ul>
            </div>



        </div>

    </div>

</section>


<section class="section-content-block section-contact-block">

    <div class="container">

        <div class="row">

            <div class="col-sm-6 wow fadeInRight">

                <h2 class="contact-title">Our Location</h2>


                <div class="section-google-map-block wow fadeInUp">

                    <div id="map_canvas">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3946.0465543539062!2d76.93809717501262!3d8.494854691546692!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b05bb97dafd2581%3A0x5bdd058d3752b9d3!2sIndian%20Bank!5e0!3m2!1sen!2sin!4v1757588013843!5m2!1sen!2sin"
                            width="560" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>

                    </div>

                </div>

            </div> <!--  end col-sm-6  -->

            <div class="col-sm-6 wow fadeInLeft">

                <div class="contact-form-block">

                    <h2 class="contact-title">Say Hello To Us</h2>

                    <form role="form" action="#" method="post" id="contact-form">

                        <div class="form-group">
                            <input type="text" class="form-control" id="user_name" name="user_name" placeholder="Name"
                                data-msg="Please Write Your Name" />
                        </div>

                        <div class="form-group">
                            <input type="email" class="form-control" id="user_email" name="user_email"
                                placeholder="Email" data-msg="Please Write Your Valid Email" />
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="email_subject" name="email_subject"
                                placeholder="Subject" data-msg="Please Write Your Message Subject" />
                        </div>

                        <div class="form-group">
                            <textarea class="form-control" rows="5" name="email_message" id="email_message"
                                placeholder="Message" data-msg="Please Write Your Message"></textarea>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-theme">Send Now</button>
                        </div>

                    </form>

                </div> <!-- end .contact-form-block  -->

            </div> <!--  end col-sm-6  -->



        </div> <!-- end row  -->

    </div> <!--  end .container -->

</section> <!-- end .section-content-block  -->
<app-ip-footer></app-ip-footer>