<div class="slider-wrap">
    <div id="slider_1" class="owl-carousel" data-nav="true" data-dots="false" data-autoplay="true" data-autoplaytimeout="70000" data-bg_effect="false">
        
        <div class="slider_item_container" data-bg_img="assets/images/home_1_slider_6.png" data-bg_color="#111111" data-bg_opacity="0.25" >
            <div class="item">
                <div class="slider-content">
                    <div class="container">
                        <div class="row">
                            <div class="slider-bg" data-animation-in="fadeInLeft" data-animation-out="zoomInDown">                                         
                                <div class="col-sm-12 wow fadeInLeft" data-wow-duration="1s">         
                                    <h2 class="margin-bottom-12" data-animation-in="zoomIn" data-animation-out="animate-out fadeOutDown">
                                    Leading Maritime & Customs Law firm in Trivandrum 
                                    </h2>
                                    <h3 class="margin-bottom-24" data-animation-in="zoomIn" data-animation-out="animate-out rollOut">Guiding You Through Every Legal Tide</h3>
  
                                    <a href="#" class="btn btn-theme btn-theme-white btn-invert" data-animation-in="zoomInLeft" data-animation-out="animate-out fadeOutRight">Get Started Now</a>
                                    <a href="#" class="btn btn-theme btn-square" data-animation-in="zoomInRight" data-animation-out="animate-out fadeOutRight">Learn More</a>
  
                                </div>                                            
                            </div> <!-- end .col-sm-12  -->
                        </div> <!-- end .row  -->
                    </div><!-- end .container -->
                </div> <!--  end .slider-content -->
            </div> <!-- end .item  -->
        </div> <!-- end .slider_item_container  -->
        
        
        
        <div class="slider_item_container" data-bg_img="assets/images/home_1_slider_1.png" data-bg_color="#111111" data-bg_opacity="0.25" >
            <div class="item">
                <div class="slider-content">
                    <div class="container">
                        <div class="row">
                            <div class="slider-bg" data-animation-in="fadeInUp" data-animation-out="zoomInDown">                                    
                                <div class="col-sm-12 wow fadeInDown" data-wow-duration="1s">         
                          
                                    <h2 class="margin-bottom-12">
                                Navigating Law Across Borders & Oceans
                                    </h2>
                                    <h3 class="margin-bottom-24" data-animation-in="zoomIn" data-animation-out="animate-out rollOut">Maritime, Customs, Civil, Criminal & Arbitration Experts in Trivandrum.</h3>
                                    <a href="#" class="btn btn-theme">Get Started Now</a>
                                    <a href="#" class="btn btn-theme btn-theme-white">Learn More</a>
                            </div>                                            
                                </div> <!-- end .col-sm-12  -->
                        </div> <!-- end .row  -->
                    </div><!-- end .container -->
                </div> <!--  end .slider-content -->
            </div> <!-- end .item  -->
        </div> <!-- end .slider_item_container  -->
        
        <div class="slider_item_container" data-bg_img="assets/images/home_1_slider_2.png" data-bg_color="#111111" data-bg_opacity="0.25" >
            <div class="item">
                <div class="slider-content">
                    <div class="container">
                        <div class="row">
                            <div class="slider-bg" data-animation-in="fadeInDown" data-animation-out="zoomInDown">                                         
                                <div class="col-sm-12 wow fadeInLeft" data-wow-duration="1s">         
                                    <h2 class="margin-bottom-12">
                                   Justice. Integrity. Expertise.
                                    </h2>
                                <h3  class="margin-bottom-24" data-animation-in="zoomIn" data-animation-out="animate-out rollOut">Leading Lawyers in Maritime, Customs, Civil, Criminal & Arbitration Law – Trivandrum.</h3>
                                    <a href="#" class="btn btn-theme btn-theme-white">Get Started Now</a>
                                    <a href="#" class="btn btn-theme btn-invert">Learn More</a>
                                    
                                </div>                                            
                            </div> <!-- end .col-sm-12  -->
                        </div> <!-- end .row  -->
                    </div><!-- end .container -->
                </div> <!--  end .slider-content -->
            </div> <!-- end .item  -->
        </div> <!-- end .slider_item_container  -->
        
        
        <div class="slider_item_container" data-bg_img="assets/images/home_1_slider_3.png" data-bg_color="#111111" data-bg_opacity="0.25" >
            <div class="item">
                <div class="slider-content">
                    <div class="container">
                        <div class="row">
                            <div class="slider-bg" data-animation-in="fadeInDown" data-animation-out="zoomInDown">                                         
                                <div class="col-sm-12 wow fadeInLeft" data-wow-duration="1s">         
                                    <h2 class="margin-bottom-12">
                              Your Anchor in Legal Storms
                                    </h2>
 <h3  class="margin-bottom-24" data-animation-in="zoomIn" data-animation-out="animate-out rollOut">Comprehensive Legal Solutions in Maritime, Customs & Arbitration Law.</h3>

                                   <a href="#" class="btn btn-theme btn-theme-white">Get Started Now</a>
                                    <a href="#" class="btn btn-theme btn-invert">Learn More</a>
                                    
                                </div>                                            
                            </div> <!-- end .col-sm-12  -->
                        </div> <!-- end .row  -->
                    </div><!-- end .container -->
                </div> <!--  end .slider-content -->
            </div> <!-- end .item  -->
        </div> <!-- end .slider_item_container  -->


    </div> <!-- end .slider_1  -->
  </div> 