<header class="main-header-2 clearfix" data-sticky_header="true">

    <section class="header-wrapper navgiation-wrapper">
        
        <div class="main-top-header hidden-sm hidden-xs clearfix">
            <div class="container">
                <div class="row">
                    
                    <div class="col-lg-6 col-md-6 col-sm-6 text-left">
                        
                        <div class="top-bar-link">
                            <strong>Call Us</strong> : 0471-2964029, 9447047470
                        </div>
                        
                    </div>
  
                    <div class="col-lg-6 col-md-6 col-sm-6 text-right">
                        
                        <div class="top-bar-social">
                            <a href="#">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-google-plus"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-instagram"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-youtube"></i>
                            </a>
                        </div>
                        
                    </div> 
  
                    
                </div>   
            </div>
        </div>
  
         <div class="header-top">
            <div class="container">
                <div class="row">
  
                    <div class="col-md-4 col-sm-12 col-xs-12 header-col-logo">
                        <div class="header-logo logo">
                            <a href="">
                                <img src="assets/images/logo.png" alt="Logo">
                            </a>
                        </div><!-- end .logo  -->
                    </div><!-- end .col-md-3  -->
  
                    <div class="col-md-8 col-sm-12 hidden-xs">
                        <div class="row">
                            
                            <div class="col-md-4 col-sm-4">
                                <div class="header-icon-box">
                                    <div class="icon-container">
                                        <i class="fa fa-phone"></i>
                                    </div>
                                    <div class="text">
                                        <span class="head-heading">QUICK SUPPORT</span>                                                
                                        <span class="head-content">
                                            0471-2964029
                                        </span>
  <span class="head-content">
                                        advocatekjthomas&#64;gmail.com</span>
                                          <span class="head-content">
                                       mclat2025&#64;gmail.com</span>
                                    </div>
                                </div><!-- end .header-icon-box  -->
                            </div> <!-- end .col-md-4  -->
  
                            <div class="col-md-5 col-sm-4">
                                <div class="header-icon-box">
                                    <div class="icon-container">
                                        <i class="fa fa-building-o"></i>
                                    </div>
                                    <div class="text">
                                        <span class="head-heading">OFFICE ADDRESS</span>                                                
                                        <span class="head-content">
                                        Court View Inn, (Near) Indian Bank, Vanchiyoor Junction, Vanchiyoor P.O., Thiruvananthapuram, Kerala - 695035, India.
                                        </span>
                                    </div>
                                </div><!-- end .repair-icon-box  -->
                            </div><!-- end .col-md-4  --> 
  
                            <div class="col-md-3 col-sm-4">
                                <div class="header-icon-box">
                                    <div class="icon-container">
                                        <i class="fa fa-calendar-check-o"></i>
                                    </div>
                                    <div class="text">
                                        <span class="head-heading">WORKING HOUR</span>                                                
                                        <span class="head-content">
                                            Monday-Friday 9:00-18:00
                                        </span>
                                    </div>
                                </div><!-- end .header-icon-box  -->
                            </div> <!-- end .col-md-4  -->
  
                        </div> <!-- end .row  -->
                    </div><!-- end .col-md-8  -->
  
                </div><!-- end .row  -->
            </div><!-- end .container  -->                
        </div><!-- end header-top  -->
  
        <div class="navbar navbar-default">			
            <div class="container clearfix">
                <div class="navbar-collapse collapse pull-left">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="index.html" title="Home">Home</a>
                        </li>
                        <li>
                            <a href="about" title="About Us">About Us</a>
                        </li>                                
                        <li ><a href="service">Services</a> </li>                                
                        <li><a href="contact">Contact</a></li>
                        <li class="drop">
                            <a href="#">More</a>
                            <ul class="drop-down">
                                <li><a href="blog">Our Blogs</a></li> 
                                <!-- <li><a href="news">News</a></li>  -->
                                <li><a href="our-team">Our Team</a></li>
                            </ul>
                        </li>
                    </ul> <!-- end .nav .navbar-nav  -->
                </div>
                <div class="navbar-header pull-right">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-contact" >
                        
                        <a class="btn btn-theme btn-theme-invert no-border btn-square btn-header-cta" href="appointment.html" title="GET FREE QUOTE">BOOK APPOINTMENT</a> 
                        
                    </div>
                </div>
            </div> <!-- end .container  -->
        </div> <!-- end .navbar .navbar-default  --> 
  
    </section>
  
  </header> 