<app-ip-header></app-ip-header>
<section class="page-header">

    <div class="container">

        <div class="row">

            <div class="col-sm-12 text-center">


                <h3>
                    Gallery
                </h3>

                <p class="page-breadcrumb">
                    <a href="#">Home</a> / Gallery
                </p>


            </div>

        </div> <!-- end .row  -->

    </div> <!-- end .container  -->

</section> <!-- end .page-header  -->


<!--  GALLERY CONTENT  -->

<section class="section-content-block section-gallery-bg">

    <div class="container">

        <div class="row section-heading-wrapper">

            <div class="col-md-12 col-sm-12 text-center">
                <h4 class="heading-alt-style text-capitalize text-dark-color">Photo Gallery</h4>
                <span class="heading-separator heading-separator-horizontal"></span>
                <h2 class="subheading-alt-style" style="text-align: justify;">
                    Over the years, our journey in law has been marked by meaningful moments, milestones, and lasting
                    relationships. Each photograph in this gallery reflects not just events, but the dedication, values,
                    and commitment that define our practice. From courtroom experiences to community interactions, these
                    memories capture the essence of our pursuit of justice and service to society. We invite you to
                    explore these glimpses of our path, as every step reminds us of the responsibility we carry and the
                    trust we continue to uphold </h2>
            </div> <!-- end .col-sm-12  -->

        </div>

        <div class="row wow fadeInUp margin-bottom-24">



            <div class="col-md-3 col-sm-6 col-xs-12 gallery-container">

                <a class="gallery-light-box xs-margin" data-gall="myGallery" href="assets/images/gallery_8.png">

                    <figure class="gallery-img">

                        <img src="assets/images/gallery_8.png" alt="gallery image" />

                    </figure> <!-- end .cause-img  -->

                </a> <!-- end .gallery-light-box  -->

            </div><!-- end .col-sm-3  -->

<div class="col-md-3 col-sm-6 col-xs-12 gallery-container">

                <a class="gallery-light-box xs-margin" data-gall="myGallery" href="assets/images/gallery_9.png">

                    <figure class="gallery-img">

                        <img src="assets/images/gallery_9.png" alt="gallery image" />

                    </figure> <!-- end .cause-img  -->

                </a> <!-- end .gallery-light-box  -->

            </div><!-- end .col-sm-3  -->
            <div class="col-md-3 col-sm-6 col-xs-12 gallery-container">

                <a class="gallery-light-box xs-margin" data-gall="myGallery" href="assets/images/gallery_1.png">

                    <figure class="gallery-img">

                        <img src="assets/images/gallery_1.png" alt="gallery image" />

                    </figure> <!-- end .cause-img  -->

                </a> <!-- end .gallery-light-box  -->

            </div><!-- end .col-sm-3  -->

            <div class="col-md-3 col-sm-6 col-xs-12 gallery-container">

                <a class="gallery-light-box xs-margin" data-gall="myGallery" href="assets/images/gallery_2.png">

                    <figure class="gallery-img">

                        <img src="assets/images/gallery_2.png" alt="gallery image" />

                    </figure> <!-- end .cause-img  -->

                </a>

            </div><!-- end .col-sm-3  -->

        
            <div class="col-md-3 col-sm-6 col-xs-12 gallery-container">

                <a class="gallery-light-box xs-margin" data-gall="myGallery" href="assets/images/gallery_4.png">

                    <figure class="gallery-img">

                        <img src="assets/images/gallery_4.png" alt="gallery image" />

                    </figure> <!-- end .cause-img  -->

                </a> <!-- end .gallery-light-box  -->

            </div><!-- end .col-sm-3  -->
            <div class="col-md-3 col-sm-6 col-xs-12 gallery-container">

                <a class="gallery-light-box xs-margin" data-gall="myGallery" href="assets/images/gallery_5.png">

                    <figure class="gallery-img">

                        <img src="assets/images/gallery_5.png" alt="gallery image" />

                    </figure> <!-- end .cause-img  -->

                </a> <!-- end .gallery-light-box  -->

            </div><!-- end .col-sm-3  -->
            <div class="col-md-3 col-sm-6 col-xs-12 gallery-container">

                <a class="gallery-light-box xs-margin" data-gall="myGallery" href="assets/images/gallery_6.png">

                    <figure class="gallery-img">

                        <img src="assets/images/gallery_6.png" alt="gallery image" />

                    </figure> <!-- end .cause-img  -->

                </a> <!-- end .gallery-light-box  -->

            </div><!-- end .col-sm-3  -->
            <div class="col-md-3 col-sm-6 col-xs-12 gallery-container">

                <a class="gallery-light-box xs-margin" data-gall="myGallery" href="assets/images/gallery_7.png">

                    <figure class="gallery-img">

                        <img src="assets/images/gallery_7.png" alt="gallery image" />

                    </figure> <!-- end .cause-img  -->

                </a> <!-- end .gallery-light-box  -->

            </div><!-- end .col-sm-3  -->
            
        </div> <!-- end .row  -->

    </div><!-- end .container -->

</section> <!-- end .section-content-block  -->



<app-ip-footer></app-ip-footer>