<app-ip-header></app-ip-header>

<section class="page-header">

    <div class="container">

        <div class="row">

            <div class="col-sm-12 text-center">


                <h3>
                 Dispute Resolution
                </h3>

                <p class="page-breadcrumb">
                    <a href="#">Home</a> / Dispute Resolution
                </p>


            </div>

        </div> <!-- end .row  -->

    </div> <!-- end .container  -->

</section> <!-- end .page-header  -->

<!-- SINGLE SERVICE PAGE -->

<section class="section-content-block">

    <div class="container">

        <div class="row">

     <div class="col-sm-8">

                <div class="row">

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                        <div class="single-service margin-bottom-24">
                            <a href="#" title="Service">
                                <img src="assets/images/service_single.jpg" alt="service" />
                            </a>
                        </div> <!--  end articles -->



                        <div class="single-service-content">


                            <h2 class="block-heading-title text-capitalize">Our Expertise</h2>
                            <hr />

                            <p>
                                With more than 10 years of practice, our firm specializes in a wide range of legal
                                issues, offering comprehensive services across various jurisdictions and dispute
                                resolution platforms. Our expertise is focused on the following key areas:
                            </p>



                           

                          

                            <hr />

                            <h3 class="block-heading-title text-capitalize">Dispute Resolution </h3>
                            <hr />
                            <ul>
                                <li><span style="font-weight: bold;"> Litigation </span>Representing clients in various
                                    courts, including Commercial Courts, High Courts, and Civil and Criminal Courts</li>
                                <li><span style="font-weight: bold;"> Alternative Dispute Resolution (ADR) : </span>
                                    Handling matters through International Arbitration and Mediation.
                                </li>


                            </ul>


                        </div>



                    </div>

                </div> <!-- end .container  -->

            </div>

            <div class="col-md-4 col-sm-12">


                <div class="widget site-sidebar">

                    <h2 class="widget-title">
                        Dispute Resolution

                    </h2>

                    <ul class="widget-service-category clearfix">

                        <li>
                            <a title="service details" href="#">Litigation</a>
                        </li>
                        <li>
                            <a title="service details" href="#">Alternative Dispute Resolution (ADR)</a>
                        </li>


                    </ul>

                </div>

              
<app-ip-testimonialsslider></app-ip-testimonialsslider>

             



                <div class="widget site-sidebar">

                    <h2 class="widget-title">Contact Support</h2>

                    <div class="text-widget text-center">

                        <p>
                            <img src="assets/images/support_user.jpg" alt="" class="img-circle img-thumbnail inline" />
                            <br />
                            <strong>John Bendonra</strong>
                            <br />
                            <i>Senior Trainer, Swim Easy</i>
                            <span class="block-primary-bg text-light-color padding-all-4 margin-top-24 db text-center">
                                (+88)-0191-1613-458
                            </span>
                        </p>
                    </div>

                </div> <!--  end .widget -->

            </div> <!-- end .col-sm-4  -->

       

        </div>

    </div>

</section> <!--  end .section-our-team -->


<section class="cta-layout-02 section-primary-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <h2 class="text-light-color">
                    Do you have any question? Feel free to contact.
                </h2>
                <p class="text-light-color">
                    Become water safe as quickly as possible and learn to swim using
                    proper stroke mechanics from the beginning.
                </p>
            </div> <!--  end .col-md-8  -->
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-center">
                <a class="btn btn-theme btn-square btn-theme-invert wow bounceIn" href="#">CONTACT WITH US</a>
            </div> <!--  end .col-md-4  -->
        </div> <!--  end .row  -->
    </div>
</section>





<app-ip-footer></app-ip-footer>