<app-ip-header></app-ip-header>
<section class="page-header">

    <div class="container">

        <div class="row">

            <div class="col-sm-12 text-center">


                <h3>
                    Blog Posts
                </h3>

                <p class="page-breadcrumb">
                    <a href="#">Home</a> / Blog
                </p>


            </div>

        </div> <!-- end .row  -->

    </div> <!-- end .container  -->

</section> <!-- end .page-header  -->

<!--  MAIN CONTENT  -->

<section class="main-content">

    <div class="container">

        <div class="row">

            <div class="col-md-8 col-sm-12">

                <article class="post single-post">

                    <div class="single-post-content">

                        <a title="blog" href="#">
                            <img alt="template-img" src="assets/images/blog_thumb_1.jpg" />
                        </a>

                    </div> <!-- end .bd-view  -->

                    <div class="single-post-title">

                        <h2>
                            <a href="#">
                              Cohabiting couples need basic legal protections
                            </a>
                        </h2> <!--  end blog-post-title  -->

                        <p class="single-post-meta">                           

                            <i class="fa fa-user"></i>
                            &nbsp;Deborah Beck

                            &nbsp;<i class="fa fa-book"></i>
                            &nbsp;<a title="View all posts" href="#"> Repair </a>

                            &nbsp;<i class="fa fa-calendar"></i>
                            &nbsp;January 19, 2016

                        </p>

                        <p>
                           Windshield wipers can be an overlooked part of your car’s safety system. If your wipers are not working properly, it may be difficult to see the road or other hazards when it rains or snows. Faulty wiper blades can be ineffective and even smear your windshield, potentially creating visibility issues. Some simple, regular maintenance can help ensure your wiper blades are in good shape.                                      
                        </p>


                    </div> <!-- end col-sm-8  -->

                </article>

                <article class="post single-post">

                    <div class="single-post-content">

                        <a title="blog" href="#">
                            <img alt="template-img" src="assets/images/blog_thumb_2.jpg" />
                        </a>

                    </div> <!-- end .bd-view  -->

                    <div class="single-post-title">

                        <h2>
                            <a href="#">                                       
                               China repeals its vexed fake news law
                            </a>
                        </h2> <!--  end blog-post-title  -->

                        <p class="single-post-meta">                           

                            <i class="fa fa-user"></i>
                            &nbsp;Deborah Beck

                            &nbsp;<i class="fa fa-book"></i>
                            &nbsp;<a title="View all posts" href="#"> Auto Repair </a>

                            &nbsp;<i class="fa fa-calendar"></i>
                            &nbsp;January 19, 2016

                        </p>

                        <p>
                           Windshield wipers can be an overlooked part of your car’s safety system. If your wipers are not working properly, it may be difficult to see the road or other hazards when it rains or snows. Faulty wiper blades can be ineffective and even smear your windshield, potentially creating visibility issues. Some simple, regular maintenance can help ensure your wiper blades are in good shape.
                        </p>


                    </div> <!-- end col-sm-8  -->

                </article>

                <article class="post single-post">

                    <div class="single-post-content">

                        <a title="blog" href="#">
                            <img alt="template-img" src="assets/images/blog_thumb_3.jpg" />
                        </a>

                    </div> <!-- end .bd-view  -->

                    <div class="single-post-title">

                        <h2>
                            <a href="#">                                        
                                'Dwindling' in California Fire-Liability Law
                            </a>
                        </h2> <!--  end blog-post-title  -->

                        <p class="single-post-meta">                           

                            <i class="fa fa-user"></i>
                            &nbsp;Deborah Beck

                            &nbsp;<i class="fa fa-book"></i>
                            &nbsp;<a title="View all posts" href="#"> Car Ride </a>

                            &nbsp;<i class="fa fa-calendar"></i>
                            &nbsp;January 19, 2016

                        </p>

                        <p>
                          Windshield wipers can be an overlooked part of your car’s safety system. If your wipers are not working properly, it may be difficult to see the road or other hazards when it rains or snows. Faulty wiper blades can be ineffective and even smear your windshield, potentially creating visibility issues. Some simple, regular maintenance can help ensure your wiper blades are in good shape.      
                        </p>


                    </div> <!-- end col-sm-8  -->

                </article>


                <div class="blog-pagination text-center clearfix">                

                    <ul class="pagination">

                        <li><a href="#" class="prev page-numbers"><i class="fa fa-caret-left"></i></a></li>
                        <li><a href="#" class="page-numbers">1</a></li>
                        <li><a href="#" class="page-numbers current">2</a></li>
                        <li><a href="#" class="page-numbers">3</a></li>
                        <li><a href="#" class="next page-numbers"><i class="fa fa-caret-right"></i></a></li>          

                    </ul> <!-- end pagination  -->

                </div> <!--  end blog-pagination -->

            </div> <!--  end col-sm-8 -->


            <div class="col-md-4 col-sm-12">

                <div class="widget site-sidebar">

                    <h2 class="widget-title">Search</h2>

                    <form action="index.html" id="search-form" class="search-form" role="form" method="get">

                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search....">
                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                        </div>

                        <input type="hidden" value="submit" />

                    </form> <!-- end #search-form  -->

                </div> <!--  end .widget -->            


                <div class="widget site-sidebar">

                    <h2 class="widget-title">Categories</h2>

                    <ul class="widget-post-category clearfix">
                        <li>
                            <a title="View all posts filed under Environment" href="#">Engine Replace</a>
                            <span class="pull-right badge">42</span>
                        </li>
                        <li>
                            <a title="View all posts filed under Technology" href="#">Tire Replace</a>
                            <span class="pull-right badge">40</span>
                        </li>
                        <li>
                            <a title="View all posts filed under Health" href="#">Auto Valve</a>
                            <span class="pull-right badge">32</span>
                        </li>
                        <li>
                            <a title="View all posts filed under Disaster" href="#">Gear Repair</a>
                            <span class="pull-right badge">26</span>
                        </li>
                        <li>
                            <a title="View all posts filed under Environment Right" href="#">Break Repair</a>
                            <span class="pull-right badge">18</span>
                        </li>
                        <li>
                            <a title="View all posts filed under Education" href="#">Wheel Spokes</a>
                            <span class="pull-right badge">12</span>
                        </li>
                    </ul>

                </div> <!--  end .widget -->

                <div class="widget site-sidebar">

                    <h2 class="widget-title">Recent Posts</h2>

                    <div class="single-recent-post">
                        <a href="#">Zomato Commits to Making Food Delivery</a>
                        <span><i class="fa fa-calendar"></i>&nbsp; April 19, 2017</span>
                    </div>

                    <div class="single-recent-post">
                        <a href="#">Make Kalam's House A Knowledge Centre</a>
                        <span><i class="fa fa-calendar"></i>&nbsp; April 18, 2017</span>
                    </div>

                    <div class="single-recent-post">
                        <a href="#">Central Government Retracts Proposal</a>
                        <span><i class="fa fa-calendar"></i>&nbsp; April 17, 2017</span>
                    </div>

                </div> <!--  end .widget -->

                <div class="widget site-sidebar">

                    <h2 class="widget-title">Tags</h2>

                    <ul class="widget-recent-tags clearfix">

                        <li>
                            <a href="" title=""> claycold</a> 
                        </li>

                        <li>
                            <a href="" title=""> crushing</a> 
                        </li>

                        <li>
                            <a href="" title=""> chattels</a> 
                        </li>

                        <li>
                            <a href="" title=""> dinarchy</a> 
                        </li>

                        <li>
                            <a href="" title=""> cienaga</a> 
                        </li>

                        <li>
                            <a href="" title=""> doolie</a> 
                        </li>

                    </ul><!--  end .widget-recent-tags -->

                </div> <!--  end .widget -->

            </div> <!-- end .col-sm-4  -->

        </div> <!--  end row  -->

    </div> <!--  end container -->

</section> <!-- end .main-content  -->
<app-ip-footer></app-ip-footer>