<app-ip-header></app-ip-header>
 
<section class="page-header">

    <div class="container">

        <div class="row">

            <div class="col-sm-12 text-center">

                <h3>
                    About Us
                </h3>

                <p class="page-breadcrumb">
                    <a href="#">Home</a> / About Us
                </p>

            </div>

        </div> <!-- end .row  -->

    </div> <!-- end .container  -->

</section> <!-- end .page-header  -->        

<app-ip-abouthome></app-ip-abouthome>



<section class="section-feat-about-us section-custom-bg" data-bg_img="images/about_us_info_bg.jpg" data-bg_color="#111111" data-bg_opacity="0.8" >

    <div class="side-background">
        <div class="col-md-6 feat-img-side-bg visible-lg">
            <div class="row">
                <img src="assets/images/about_feat_bg_2.jpeg" alt="">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">     
            <div class="col-lg-6 col-md-12 col-sm-12 col-lg-offset-6 about-us-info-block wow fadeInLeft">

                <div class="row">

                    <div class="about-us-info text-left" style="padding: 5%;">

                        <h3 class="about-us-slogan about-us-slogan-bold text-light-color">
                           CLIENT'S PERCEPTION <br> <i class="text-curly text-highlighter-primary">IS</i> OUR REALITY !<br>
                        </h3>

                        <div class="margin-top-48 text-light-color">

                            <p class="text-light-color padding-top-24">
                                We are dedicated to helping our clients reach their ultimate goals and full potential, 
                                  to personalising their event experiences, to providing an creative atmosphere,
                                                                       and to making a difference.
                            </p>

                            <div class="about-details"> 

                                <ul class="custom-bullet-list custom-icon">
                                    <li>Long experience in the field of law.</li>
                                    <li>Fast and spontaneous customer care.</li>
                                    <li>Cost effective legal solution provider.</li>
                                    <li>Our attorneys are successful professionals .</li>
                                    <li>Our environment is safe, fun and comfortable.</li>

                                </ul>

                            </div> <!--  end .about-details -->  

                            <p class="margin-top-24 text-light-color">
                                <a href="about" class="btn-theme">LEARN ABOUT US</a>
                            </p>

                        </div>



                    </div>

                </div>
            </div>
        </div>
    </div>

</section> <!--  end .section-about-us -->
 
<section class="cta-layout-02 section-primary-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <h2 class="text-light-color">
                    Do you need legal consultancy? Feel free to contact.
                </h2>
                <p class="text-light-color">
                    
                   Client oriented, long experienced and professional lawyers are ready
                    to provide you legal solutions instantly.
                    
                </p>
            </div> <!--  end .col-md-8  -->
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-center">
                <a class="btn btn-theme btn-square btn-theme-invert wow bounceIn" href="contact">CONTACT WITH US</a>
            </div> <!--  end .col-md-4  -->
        </div> <!--  end .row  -->
    </div>
</section> 
    
<app-ip-footer></app-ip-footer>