<section class="section-content-block section-secondary-bg">

    <div class="container">
        
        <div class="row section-heading-wrapper">
  
            <div class="col-md-12 col-sm-12 text-center">
                <h4 class="heading-alt-style text-capitalize text-dark-color">Meet Our Legal Team</h4>
                <span class="heading-separator heading-separator-horizontal"></span>
                <h2 class="subheading-alt-style">
                    Welcome to K.J. Thomas and Associates, a leading law firm based in Thiruvananthapuram, Kerala, specializing in Maritime Law, International Trade, and Customs  Laws and Regulations.Maritime and General Insurance ,Marine liability issues ,Admirality issues ,Company formation ,Import Export Code (IEC),Customs clearance ,Ship Registration,Legal and Comercial consultations,Legal Studies etc .   With a decade of dedicated practice, our firm provides expert legal counsel and representation to clients navigating the complexities of commercial courts, high courts, and international jurisdictions. Our mission is to offer strategic, results-driven solutions while upholding the highest standards of integrity and professionalism.
                </h2>
            </div> <!-- end .col-sm-12  --> 
  
        </div>
  
        <div class="row">
  
            <div class="col-md-4 col-sm-6 col-xs-10 col-xs-offset-1 col-sm-offset-0 col-md-offset-0">
  
                <div class="team-layout-1 text-center">       
  
                    <figure class="team-member">
                        <a href="#" title="K.J. Thomas Kallampally">
                            <img src="assets/images/team_5.jpeg" alt="K.J. Thomas Kallampally" />
                        </a>
                    </figure> <!-- end. team-member  -->
  
                    <article class="team-info">
  
                        <h3>Adv. K.J. Thomas </h3>                                   
                      
                        
                        <div class="team-social-share clearfix">
                            <a href="#" title="Facebook"> <i class="fa fa-facebook rectangle"></i> </a>
                            <a href="#" title="Facebook"> <i class="fa fa-twitter rectangle"></i> </a>
                            <a href="#" title="Facebook"> <i class="fa fa-google-plus rectangle"></i> </a>
                            <a href="#" title="Facebook"> <i  class="fa fa-linkedin rectangle"></i> </a>
                        </div> <!-- end .author-social-box  -->         
  
                    </article>                       
                </div> <!--  end team layout-1 -->
  
            </div> <!--  end .col-lg-3 col-md-3 col-sm-6 col-xs-12 -->
            

  <div class="col-md-4 col-sm-6 col-xs-10 col-xs-offset-1 col-sm-offset-0 col-md-offset-0">
  
                <div class="team-layout-1 text-center">       
  
                    <figure class="team-member">
                        <a href="#" title="K.Pradeep Kumar Kurunthali">
                            <img src="assets/images/team_6.jpg" alt="K.Pradeep Kumar Kurunthali" />
                        </a>
                    </figure> <!-- end. team-member  -->
  
                    <article class="team-info">
                        
                        <h3>Adv. K.Pradeep Kumar</h3>                                   
                
                        
                        <div class="team-social-share clearfix">
                            <a href="#" title="Facebook"> <i class="fa fa-facebook rectangle"></i> </a>
                            <a href="#" title="Facebook"> <i class="fa fa-twitter rectangle"></i> </a>
                            <a href="#" title="Facebook"> <i class="fa fa-google-plus rectangle"></i> </a>
                            <a href="#" title="Facebook"> <i  class="fa fa-linkedin rectangle"></i> </a>
                        </div> <!-- end .author-social-box  -->       
  
                    </article>                      
                </div> <!--  end team-layout-1 -->
  
            </div> <!--  end .col-lg-3 col-md-3 col-sm-6 col-xs-12  -->
  


            <div class="col-md-4 col-sm-6 col-xs-10 col-xs-offset-1 col-sm-offset-0 col-md-offset-0">
  
                <div class="team-layout-1 text-center">       
  
                    <figure class="team-member">
                        <a href="#" title="Gerosh Kumar ">
                            <img src="assets/images/team_7.jpg" alt="Gerosh Kumar " />
                        </a>  
                    </figure> <!-- end. team-member  -->
  
                    <article class="team-info">
                        <h3>Adv. Gerosh Kumar <br> </h3>                                   
                      
                        <div class="team-social-share clearfix">
                            <a href="#" title="Facebook"> <i class="fa fa-facebook rectangle"></i> </a>
                            <a href="#" title="Facebook"> <i class="fa fa-twitter rectangle"></i> </a>
                            <a href="#" title="Facebook"> <i class="fa fa-google-plus rectangle"></i> </a>
                            <a href="#" title="Facebook"> <i  class="fa fa-linkedin rectangle"></i> </a>
                        </div> <!-- end .author-social-box  -->       
  
                    </article>                           
                </div> <!--  end team-layout-1 -->
  
            </div> <!--  end .col-lg-3 col-md-3 col-sm-6 col-xs-12  -->
  
          

  
        </div> <!-- end .row  --> 
  
    </div> <!-- end .container  -->
  
  </section> 