<app-ip-header></app-ip-header>
<section class="page-header">

    <div class="container">

        <div class="row">

            <div class="col-sm-12 text-center">

                <h3>
                    Our Legal Team
                </h3>

                <p class="page-breadcrumb">
                    <a href="#">Home</a> / Our Legal Team
                </p>

            </div>

        </div> <!-- end .row  -->

    </div> <!-- end .container  -->

</section> <!-- end .page-header  -->
<section class="section-content-block section-our-team section-pure-white-bg">

    <div class="container">
        <div class="row section-heading-wrapper">

            <div class="col-md-12 col-sm-12 text-center">
                <h4 class="heading-alt-style text-capitalize text-dark-color">Meet Our Legal Team</h4>
                <span class="heading-separator heading-separator-horizontal"></span>
                <h2 class="subheading-alt-style" style="text-align: justify;">
                    Welcome to K.J. Thomas and Associates, a leading law firm based in Thiruvananthapuram, Kerala,
                    specializing in Maritime Law, International Trade, and Customs Laws and Regulations.Maritime and
                    General Insurance ,Marine liability issues ,Admirality issues ,Company formation ,Import Export Code
                    (IEC),Customs clearance ,Ship Registration,Legal and Comercial consultations,Legal Studies etc .
                    With a decade of dedicated practice, our firm provides expert legal counsel and representation to
                    clients navigating the complexities of commercial courts, high courts, and international
                    jurisdictions. Our mission is to offer strategic, results-driven solutions while upholding the
                    highest standards of integrity and professionalism.
                </h2>
            </div> <!-- end .col-sm-12  -->

        </div>
    </div>

    <div class="container wow fadeInUp">

        <div class="row">

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">

                <div class="single-team">

                    <figure class="team-member">
                        <a href="#" title="Adv. K.J. Thomas Kallampally,">
                            <img src="assets/images/team_5.jpeg" alt="team" />
                        </a>
                    </figure> <!-- end. team-member  -->

                </div> <!--  end articles -->

            </div>

            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">

                <div class="single-team-details">

                    <article class="team-info">
                        <h3>Adv. K.J. Thomas Kallampally, </h3>
                        <h4>M.Com, LL.B, Cert. Arb. & Med.</h4>
                    </article>

                    <ul class="team-social-share-2 clearfix">

                        <li> <a class="fa fa-facebook rectangle" href="#" title="Facebook"></a></li>
                        <li> <a class="fa fa-twitter rectangle" href="#" title="Twitter"></a></li>
                        <li> <a class="fa fa-linkedin rectangle" href="#" title="Linkedin"></a></li>
                        <li> <a class="fa fa-linkedin rectangle" href="#" title="Google Plus"></a></li>
                    </ul> <!-- end .author-social-box  -->

                    <p> Advocate K. J. Thomas brings over a decade of specialized experience in Maritime (Admiralty)
                        Law, having appeared before Admiralty Courts, Commercial Courts, High Courts, and Customs
                        Courts. His practice also extends to Flag State jurisdiction and maritime death liability claims
                        in foreign courts, giving him a strong international legal perspective.

                    <p>

                        He currently serves as the Secretary of the Maritime, Customs and Logistics Lawyers Association
                        of Trivandrum (MCLAT), where he plays a key role in advancing legal discourse and professional
                        collaboration in these specialized domains.</p>

                </div>

            </div>


        </div> <!-- end .row  -->

    </div>
    <hr>



    <div class="container wow fadeInUp">

        <div class="row">



            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">

                <div class="single-team-details">

                    <article class="team-info">
                        <h3>Adv. K. Pradeep Kumar Kurunthali,</h3>
                        <h4> B.Sc., LL.B., M.B.L.</h4>
                    </article>

                    <ul class="team-social-share-2 clearfix">

                        <li> <a class="fa fa-facebook rectangle" href="#" title="Facebook"></a></li>
                        <li> <a class="fa fa-twitter rectangle" href="#" title="Twitter"></a></li>
                        <li> <a class="fa fa-linkedin rectangle" href="#" title="Linkedin"></a></li>
                        <li> <a class="fa fa-linkedin rectangle" href="#" title="Google Plus"></a></li>
                    </ul> <!-- end .author-social-box  -->

                    <p>
                        Adv. K. Pradeep Kumar Kurunthali is a highly respected lawyer with over 33 years of
                        distinguished practice in civil and criminal law, specializing in handling complex disputes and
                        high-stakes cases before the Hon’ble High Court of Kerala. Holding a B.Sc., LL.B., and a Master
                        of Business Laws (MBL), he brings a rare blend of scientific precision and legal acumen to his
                        practice. His deep understanding of the Indian legal system, coupled with his strategic
                        litigation skills and commitment to justice, has earned him wide recognition.


                    <p>
                        Currently serving as Central Government Counsel before the Hon’ble High Court of Kerala, Adv.
                        Pradeep Kumar has built a strong reputation for meticulous preparation, analytical insight, and
                        unwavering dedication to his clients. Based in Thiruvananthapuram, he continues to be a trusted
                        legal advisor and advocate in both civil and criminal matters.


                    </p>




                </div>

            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">

                <div class="single-team">

                    <figure class="team-member">
                        <a href="#" title="Adv. K. Pradeep Kumar Kurunthali,">
                            <img src="assets/images/team_6.jpg" alt="team" />
                        </a>
                    </figure> <!-- end. team-member  -->

                </div> <!--  end articles -->

            </div>

        </div> <!-- end .row  -->

    </div>
    <hr>
    <div class="container wow fadeInUp">

        <div class="row">

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">

                <div class="single-team">

                    <figure class="team-member">
                        <a href="#" title="ALEXANDER GARY">
                            <img src="assets/images/team_7.jpg" alt="team" />
                        </a>
                    </figure> <!-- end. team-member  -->

                </div> <!--  end articles -->

            </div>

            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">

                <div class="single-team-details">

                    <article class="team-info">
                        <h3>Adv. Gerosh Kumar </h3>
                        <h4>B.Tech,FIE,MIS,IIT(Arb), LL.B,L.M.M Maritime Law</h4>
                    </article>

                    <ul class="team-social-share-2 clearfix">

                        <li> <a class="fa fa-facebook rectangle" href="#" title="Facebook"></a></li>
                        <li> <a class="fa fa-twitter rectangle" href="#" title="Twitter"></a></li>
                        <li> <a class="fa fa-linkedin rectangle" href="#" title="Linkedin"></a></li>
                        <li> <a class="fa fa-linkedin rectangle" href="#" title="Google Plus"></a></li>
                    </ul> <!-- end .author-social-box  -->

                    <p>
                        Gerosh Kumar
                        Maritime and Hydrographic Consultant
                        Adv.Gerosh Kumar is a distinguished and highly respected consultant with over 35 years of
                        extensive experience in the maritime and port sectors. He is an accomplished leader with a deep
                        understanding of marine operations, hydrography, and port management, making him a valuable
                        asset to our legal team on matters of maritime law, policy, and compliance.
                        Throughout his career, Adv.Gerosh Kumar has held pivotal roles in both public and private
                        sectors, including serving as the Chief Hydrographer for the Government of Kerala. His expertise
                        in this capacity provided him with a unique understanding of coastal zone management, navigation
                        safety, and environmental regulations.
                    </p>
                    <p> He has also served in executive and directorial positions at major ports, where he was
                        responsible for overseeing critical operations, strategic development, and regulatory affairs.
                        His hands-on experience in managing port infrastructure and maritime logistics gives him
                        unparalleled insight into the operational realities and legal challenges faced by the industry.
                        Adv.Gerosh Kumar V profound knowledge and practical experience enable him to provide our firm
                        and clients with expert guidance on a wide range of issues, including:

                    </p>

                    <div class="single-service-content">



                        <ul>
                            <li><span style="font-weight: bold;"> </span> Port governance and administration</li>
                            <li><span style="font-weight: bold;"> </span> Marine regulatory compliance</li>
                            <li><span style="font-weight: bold;"> </span> Hydrographic surveying and charting</li>
                            <li><span style="font-weight: bold;"> </span> Maritime dispute resolution</li>
                            <li><span style="font-weight: bold;"> </span> Project development and feasibility studies
                            </li>
                            <li><span style="font-weight: bold;"> </span> Port governance and administration</li>

                        </ul>

                    </div>

                    <p> His comprehensive background makes him an invaluable resource for navigating the complexities of
                        maritime law and providing strategic solutions for our clients.</p>



                </div>

            </div>


        </div> <!-- end .row  -->

    </div>


</section>

<app-ip-footer></app-ip-footer>