<app-ip-header></app-ip-header>
<section class="page-header">

    <div class="container">

        <div class="row">

            <div class="col-sm-12 text-center">

                <h3>
                  Our Legal Team
                </h3>

                <p class="page-breadcrumb">
                    <a href="#">Home</a> / Our Legal Team
                </p>

            </div>

        </div> <!-- end .row  -->

    </div> <!-- end .container  -->

</section> <!-- end .page-header  -->      
<section class="section-content-block section-our-team section-pure-white-bg">

    <div class="container">
        <div class="row section-heading-wrapper">

            <div class="col-md-12 col-sm-12 text-center">
                <h4 class="heading-alt-style text-capitalize text-dark-color">Meet Our Legal Team</h4>
                <span class="heading-separator heading-separator-horizontal"></span>
                <h2 class="subheading-alt-style">
                    Welcome to K.J. Thomas and Associates, a leading law firm based in Thiruvananthapuram, Kerala,
                    specializing in Maritime Law, International Trade, and Customs Laws and Regulations.Maritime and
                    General Insurance ,Marine liability issues ,Admirality issues ,Company formation ,Import Export Code
                    (IEC),Customs clearance ,Ship Registration,Legal and Comercial consultations,Legal Studies etc .
                    With a decade of dedicated practice, our firm provides expert legal counsel and representation to
                    clients navigating the complexities of commercial courts, high courts, and international
                    jurisdictions. Our mission is to offer strategic, results-driven solutions while upholding the
                    highest standards of integrity and professionalism.
                </h2>
            </div> <!-- end .col-sm-12  -->

        </div>
    </div>

    <div class="container wow fadeInUp">

        <div class="row">

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">

                <div class="single-team">

                    <figure class="team-member">
                        <a href="#" title="ALEXANDER GARY">
                            <img src="assets/images/team_5.jpg" alt="team" />
                        </a>
                    </figure> <!-- end. team-member  -->

                </div> <!--  end articles -->

            </div>

            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">

                <div class="single-team-details">

                    <article class="team-info">
                        <h3>Adv. K.J. Thomas Kallampally, </h3>
                        <h4>M.Com, LL.B, Cert. Arb. & Med.</h4>
                    </article>

                    <ul class="team-social-share-2 clearfix">

                        <li> <a class="fa fa-facebook rectangle" href="#" title="Facebook"></a></li>
                        <li> <a class="fa fa-twitter rectangle" href="#" title="Twitter"></a></li>
                        <li> <a class="fa fa-linkedin rectangle" href="#" title="Linkedin"></a></li>
                        <li> <a class="fa fa-linkedin rectangle" href="#" title="Google Plus"></a></li>
                    </ul> <!-- end .author-social-box  -->

                    <p>
                        A distinguished legal professional with over 10 years of practice, Adv. K.J. Thomas Kallampally
                        is the founder of the firm. He holds a Master of Commerce from Kerala University and an LL.B.
                        from Karnataka State Law University. His commitment to specialized legal practice led him to
                        obtain a Certificate in Arbitration and Mediation from the Indian Institute of Arbitration and
                        Mediation, an institution under the esteemed Patronage of Justice K.T. Thomas, Former Judge of
                        the Supreme Court of India. He has built a reputation for handling complex specializing in
                        Maritime Law, International Trade, and Customs Laws and Regulations.Maritime and General
                        Insurance ,Marine liability issues ,Admirality issues ,Company formation ,Import Export Code
                        (IEC),Customs clearance ,Ship Registration,Legal and Comercial consultations,Legal Studies etc

                    </p>

                    <p>
                        Other Engagements In addition to his legal practice, he is actively involved in the legal
                        community. He currently serves as the Secretary for the Maritime Customs and Logistic Lawyers
                        Association of Trivandrum (M-CLAT) and acts as an External Faculty member on the subjects of
                        maritime, international trade, and customs law. He is a regular participant in seminars and
                        awareness programs, contributing his expertise to commercial and customs-related discussions.
                    </p>



                </div>

            </div>


        </div> <!-- end .row  -->

    </div>




    <div class="container wow fadeInUp">

        <div class="row">

          

            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">

                <div class="single-team-details">

                    <article class="team-info">
                        <h3>Adv. K. Pradeep Kumar Kurunthali,</h3>
                        <h4> B.Sc., LL.B., M.B.L.</h4>
                    </article>

                    <ul class="team-social-share-2 clearfix">

                        <li> <a class="fa fa-facebook rectangle" href="#" title="Facebook"></a></li>
                        <li> <a class="fa fa-twitter rectangle" href="#" title="Twitter"></a></li>
                        <li> <a class="fa fa-linkedin rectangle" href="#" title="Linkedin"></a></li>
                        <li> <a class="fa fa-linkedin rectangle" href="#" title="Google Plus"></a></li>
                    </ul> <!-- end .author-social-box  -->

                    <p>
                        A well-regarded lawyer with a strong foundation in both science and law, Adv. K. Pradeep Kumar
                        Kurunthali holds a B.Sc., an LL.B., and a Master of Business Law (MBL). His varied educational
                        background enhances the firm's ability to handle complex legal matters with a meticulous and
                        analytical approach. Adv. Pradeep Kumar K
                        B.Sc, LL.B, MBL
                        Advocate, High Court of Kerala
                        Civil & Criminal Law Specialist
                        With over 33 years of distinguished legal practice, Adv. Pradeep Kumar K is a seasoned civil and
                        criminal lawyer based in Thiruvananthapuram, Kerala. He is known for his deep understanding of
                        the Indian legal system, strategic litigation skills, and unwavering commitment to justice.


                    </p>

                    <p>
                        After completing his degrees in Science (B.Sc), Law (LL.B) and Master of Business Laws (MBL),
                        Adv. Pradeep Kumar commenced his legal career in the early 1990s. Since then, he has built a
                        reputation for handling complex civil disputes and high-stakes criminal cases across the
                        judicial spectrum, with a primary focus on the High Court of Kerala.Currently he is acting as
                        the Central Government Counsel before the Hon’ble High Court of Kerala
                    </p>


                </div>

            </div>
  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">

                <div class="single-team">

                    <figure class="team-member">
                        <a href="#" title="ALEXANDER GARY">
                            <img src="assets/images/team_6.jpg" alt="team" />
                        </a>
                    </figure> <!-- end. team-member  -->

                </div> <!--  end articles -->

            </div>

        </div> <!-- end .row  -->

    </div>

    <div class="container wow fadeInUp">

        <div class="row">

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">

                <div class="single-team">

                    <figure class="team-member">
                        <a href="#" title="ALEXANDER GARY">
                            <img src="assets/images/team_7.jpg" alt="team" />
                        </a>
                    </figure> <!-- end. team-member  -->

                </div> <!--  end articles -->

            </div>

            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">

                <div class="single-team-details">

                    <article class="team-info">
                        <h3>Adv. Gerosh Kumar </h3>
                        <h4>B.Tech,FIE,MIS,IIT(Arb), LL.B,L.M.M Maritime Law</h4>
                    </article>

                    <ul class="team-social-share-2 clearfix">

                        <li> <a class="fa fa-facebook rectangle" href="#" title="Facebook"></a></li>
                        <li> <a class="fa fa-twitter rectangle" href="#" title="Twitter"></a></li>
                        <li> <a class="fa fa-linkedin rectangle" href="#" title="Linkedin"></a></li>
                        <li> <a class="fa fa-linkedin rectangle" href="#" title="Google Plus"></a></li>
                    </ul> <!-- end .author-social-box  -->

                    <p>
                        Adv. Gerosh Kumar brings a unique blend of technical and business acumen to the firm.
                        With degrees in Civill Engineering, an FIE,MIS,IIT(Arb), and an LL.B.,L.L.M maritime law
                        presuming
                        his diverse background provides a comprehensive understanding of the operational and commercial
                        aspects of cases,
                        particularly in international trade and logistics.
                    </p>



                </div>

            </div>


        </div> <!-- end .row  -->

    </div>


</section>

<app-ip-footer></app-ip-footer>