/* You can add global styles to this file, and also import other style files */


.page-header h3 {
    color: #ffffff !important;
}

.page-header .page-breadcrumb {
          color: #ffffff !important;
}

.page-header .page-breadcrumb a {
    color: #ffffff !important;
}

.btn-theme-invert {
    color: #ffffff;
    background: #7a2408;
        margin-left: 25% !important;
}

.btn.focus, .btn:focus, .btn:hover {
   color: #7a2408;
    background: #fff;
}

.modal-body {
    position: relative;
    padding: 15px;
    border: 10px solid #7a2408;
    border-radius: 4px;
}