<section class="section-content-block">

    <div class="container wow fadeInUp">
        
        <div class="row section-heading-wrapper">
  
            <div class="col-md-12 col-sm-12 text-center">
                <h4 class="heading-alt-style text-capitalize text-dark-color">Recent News</h4>
                <span class="heading-separator heading-separator-horizontal"></span>
                <h2 class="subheading-alt-style">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit curabitur eu ante non ex lobortis posuere 
                    <br />
                    volutpat nec orci morbi facilisis massa lectus volutpat posuere volutpat.
                </h2>
            </div> <!-- end .col-sm-12  --> 
  
        </div> <!-- end .row  -->
        
        
        <div class="row clearfix">
  
            <div class="col-md-4 col-sm-10 col-xs-10 col-md-offset-0 col-sm-offset-1 col-xs-offset-1">
  
                <div class="latest-blog theme-custom-box-shadow">
                    
                    <div class="latest-thumbnail">
                        <a href="#">
                            <img src="assets/images/blog_thumb_1.jpg" alt="">
                        </a>
                    </div>
                    <div class="news-content">                               
                        <h4 class="latest-title">
                            <a href="#">Cohabiting couples need basic legal protections</a>
                        </h4>                           
                        <div class="latest-details">
                            <a class="author" href="#"><i class="fa fa-pencil-square-o"></i> Moron Bold</a>
                            <a class="comments" href="#"> <i class="fa fa-comments-o"></i> 2 comments</a>
                        </div>      
                       <p>In this case you can try re-seating memory modules to make sure they are making good contact with the slot.</p>
                    </div> 
  
                </div> <!-- end latest  -->
  
            </div>
  
            <div class="col-md-4 col-sm-10 col-xs-10 col-md-offset-0 col-sm-offset-1 col-xs-offset-1">
  
                <div class="latest-blog theme-custom-box-shadow">
                    <div class="latest-thumbnail">
                        <a href="#">
                            <img src="assets/images/blog_thumb_2.jpg" alt="">
                        </a>
                    </div>
                    <div class="news-content">                               
                      <h4 class="latest-title">
                            <a href="#">China repeals its vexed fake news law</a>
                        </h4>   
                         <div class="latest-details">
                            <a class="author" href="#"><i class="fa fa-pencil-square-o"></i> Mark Erik</a>
                            <a class="comments" href="#"> <i class="fa fa-comments-o"></i> 3 comments</a>
                        </div> 
                        <p>In this case you can try re-seating memory modules to make sure they are making good contact with the slot.</p>
                    </div> 
                </div> <!-- end latest  -->
  
            </div>
  
            <div class="col-md-4 col-sm-10 col-xs-10 col-md-offset-0 col-sm-offset-1 col-xs-offset-1">
  
                <div class="latest-blog theme-custom-box-shadow">
                    <div class="latest-thumbnail">
                        <a href="#">
                            <img src="assets/images/blog_thumb_3.jpg" alt="">
                        </a>
                    </div>
                    <div class="news-content">                               
                      <h4 class="latest-title">
                            <a href="#">'Dwindling' in California Fire-Liability Law</a>
                        </h4>   
                         <div class="latest-details">
                            <a class="author" href="#"><i class="fa fa-pencil-square-o"></i> John Lists</a>
                            <a class="comments" href="#"> <i class="fa fa-comments-o"></i> 4 comments</a>
                        </div> 
                        <p>In this case you can try re-seating memory modules to make sure they are making good contact with the slot.</p>
                    </div> 
                </div> <!-- end latest  -->
  
            </div>
  
        </div> <!--  end .row  -->
  
        <div class="row">
            <div class="col-sm-12 col-md-4 col-md-offset-4 text-center">
                <a href="#" class="btn btn-theme margin-top-24">- Load More Blog -</a>
            </div>
        </div> <!-- end .row  -->
  
    </div> <!-- end .container  -->
  
  </section>